/vendor
/node_modules
/public/storage
Homestead.yaml
Homestead.json
.env
vendor
storage
bootstrap
MyProject.komodoproject
git4rv
.idea
env.php
/en/wexsite/vendor
/it/wexsite/vendor
/en/wexsite/storage
/it/wexsite/storage
/en/wexsite/.env
/it/wexsite/.env
/en/uploads/cv_file
