/vendor
/node_modules
/public/storage
Homestead.yaml
Homestead.json
.env
/vendor
/storage/*.key
/storage/logs
/storage/framework/views
MyProject.komodoproject
git4rv
.idea
env.php
/en/wexsite/vendor
/it/wexsite/vendor
/en/wexsite/storage
/it/wexsite/storage
/en/wexsite/.env
/it/wexsite/.env
/uploads/cv_file
/public/uploads/cv_file
