.unselectable, .tab .tab-legend > li {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.tab {
  width: 100%;
  margin: 20px 0;
  padding: 0 10px;
  overflow: hidden; }

.tab > .tab-legend, .tab > .tab-content, .tab-legend > li, .tab-content > li {
  margin: 0;
  padding: 0;
  list-style: none; }

.tab .tab-legend {
  font-family: Helvetica, Arial, sans-serif;
  overflow: hidden; }

.tab .tab-legend > li {
  padding: 15px 15px;
  color: #999999;
  font-size: 16px;
  text-transform: uppercase;
  float: left;
  cursor: pointer; }

.tab .tab-legend .active {
  padding: 13px 15px 15px 15px;
  background-color: #FFF;
  color: #dc5147; }

.tab .tab-content {
  width: 100%;
  min-height: 270px;
  position: relative;
  overflow: hidden; }

.tab .tab-content > li {
  position: relative;
  overflow: hidden; }

/*Horizontal specific*/
.tab-horiz .tab-legend {
  width: 100%; }

.tab-horiz .tab-legend > li {
  border-top: solid 1px #CCC;
  border-right: solid 1px #CCC;
  border-bottom: solid 1px #CCC; }

.tab.tab-horiz .tab-legend .active {
  border-top: solid 4px #dc5147;
  border-bottom: 0; }

.tab-horiz .tab-legend > li:first-child {
  border-left: solid 1px #CCC; }

.tab-horiz .tab-content {
  width: 100%; }

/*Vertical specific*/
.tab-vert .tab-legend {
    width: 23%;
    float: left;
    margin-right: -1px;
    position: relative;
    z-index: 1;
        margin-top: 42px;
}

.tab.tab-vert .tab-legend .active {
    border-left: solid 3px #045a90;
    background: #ffffff;
    border-bottom: solid 1px #CCC;
    border-right: 0;
    color: #2087c8;
    border-top: solid 1px #CCC;
}
.tab.tab-vert .tab-legend li:last-child.active {
    border-bottom: solid 1px #CCC;
}
.tab-vert .tab-legend > li {
    width: 100%;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 0;
}

.tab-vert .tab-legend > li.active {
  border-right: 0; }

.tab-vert .tab-content {
  width: 72%;
  display: block;
  float: left;
  padding: 0px 20px;
   }

.tab-vert .tab-content > li {
  min-height: 100%;
  display: block;
}
.Credit_Card .form-group {
    float: left;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 3px;
}
.Credit_Card .form-group input, .Credit_Card .form-group select, .Credit_Card .form-group textarea{
  padding-left: 10px; width: 100%;
  border-radius: 0;
}
.Credit_Card .form-group input[type="checkbox"]{
     width: auto;
    display: inline-block;
    height: auto;
    margin-top: 10px;
}
.tab-content .Credit_Card .form-group label[for="tos"] {
    width: auto;
    float: right;
}

.Credit_Card .form-group span {
    float: left;
    width: 136px;
    margin-right: 10px;
}
.Credit_Card .form-group i {
    float: left;
    margin-right: 14px;
    line-height: 36px;
}
.Credit_Card .form-group input[type="text"].CVV {
    width: 135px;
    padding-left: 7px;
}
.Credit_Card .form-group input[type="text"].CardNumber {
    max-width: 95%;
    padding-left: 7px;
    width: 100%;
}
.Credit_Card .form-group input[type="text"]:Focus, .Credit_Card .form-group select:Focus{
  border: solid 1px #2087c8;
  outline: none;
}
.tab-content h2 {
    margin: 0;
    font-size: 20px;
}
.tab-vert .tab-content > li button.Checkout_btn {
    float: right;
    background: #2087c8;
    color: #fff;
    border: none;
    padding: 6px 20px;
    margin-top: 10px;
    margin-left: 0px;
    margin-right: 24px;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -o-transition: all .4s;
}
.tab-vert .tab-content > li button.Checkout_btn:hover{
  background: #55b241;
}
form.Credit_Card {
    margin-top: 0;
    margin-bottom: 20px;
    float: left;
    width: 100%;
}
.tab-content input[type="radio"] {
    cursor: pointer;
}
.service_details .price {
    font-size: 25px;
    text-align: right;
    padding-right: 20px;
    color: #55b241;
}
.service_details p {
    padding-right: 0px;
    text-align: justify;
    font-size: 17px;
}
.service_details h3 {
    font-size: 25px;
    color: #2087c8;
    border-bottom: solid 1px #2087c8;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

@media (max-width: 1200px){
  .Credit_Card .form-group span {float: left; width: 136px; margin-right: 10px;}
}
@media (max-width: 992px){
  .Credit_Card .form-group span{width: 100%;}
  .Credit_Card .form-group input[type="text"].CVV{width: 100%;}
  .form-group input[type="text"], .form-group input[type="password"], .form-group select, .form-group input[type="email"], .form-group input[type="file"]{width: 100% !important;max-width: 100% !important;}
  #paypal_credit_card_form .form-group.First-Name, #paypal_credit_card_form .form-group.last-Name{width: 100%;}
  .Credit_Card .form-group label{width: 100%;}
.service_payment .service_details p{padding-right: 0 !important;}
.service_payment .service_details ul li, .service_payment .service_details .price{margin-right: 0;}
}