/*custom*/
.arancio a{ color:#F7B234 !important; }  
.cookie-consent { padding: 20px; color: #fff; }  
button.order_now:disabled { 
    opacity: 0.5;
    cursor: not-allowed;
}  
.button_disabled, .button_disabled:hover { font-weight: 400 !important; cursor: default !important; }  .button_disabled::after { background: transparent !important; }  
.link_disabled { cursor: not-allowed!important; opacity: 0.5; }  
.link_disabled > a { pointer-events: none!important; }  
/* GLOBAL TEST */
.online-test-banner { 
	background-image: url('../images/online-test-banner.jpg');
	background-repeat: no-repeat;
	background-position: 0% center;
	padding: 30px 15px; 
}  
#ask-Question > ul { width:100%; display:inline-block }  
@media screen and (min-width: 768px) { 
	.online-test-banner { background-position: 100% center; }   
}  
@media screen and (min-width: 992px) { 
	.Colorfull-window { padding-left: 200px !important; padding-right: 200px !important; }  
}
/* LANDING PAGES */
/* stili per testo */
.text-primary { color: #1f87c7; }  
.text-gray { color: #58585a; }  
.text-white { color: white; }  
.text-bold { font-weight: 600; }  
.text-center { text-align: center; }  
.text-left { text-align: left; }  
.default-font { font-family: 'Varela Round', sans-serif; }  
.default-size { font-size: 18px; }  
.size-small { font-size: 16px; }  
.size-xsmall { font-size: 12px; }  
.size-big { font-size: 21px; }  
.size-xbig { font-size: 24px; line-height: 30px; } 

@media screen and (min-width: 992px) { 
	.size-xbig { font-size: 30px;
		line-height: 45px;
	}  
}  
/* separatore */
hr.primary-line {     
	border-color: #1f87c7;
    border-width: 3px;
    display: inline-block;
    width: 100px;
    margin: 10px 0px; }  
/* common */
.fullwith { width: 100%; }  
.no-margins { margin: 0px; }  
.margin-auto { margin: 0 auto; }  
/* form */
.form-row { margin-bottom: 6px; }  
.form-row > input,
.form-row > textarea { margin-bottom: 0px;
	width: 100%; }  
/* contenitori */
.relative { position: relative; }  
.flex-container { display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }  
.flex-col { display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }  
/* box */
.box-border { border: 2px solid #e4e4e5;
	padding: 30px 20px;
	text-align: center; }  
.box-image-container { min-height: 200px;
	position: relative; }  
.box-image-hover { opacity: 0;
	transition: opacity 0.3s ease-in-out; }  
.box-image-hover:hover { opacity: 1; }  
.box-image, .box-image-hover { 
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover; }  
.box-market { background-image: url('../immagini/market.jpg'); }  
.box-market-hover { background-image: url('../immagini/market-h.jpg'); }  
.box-cultural { background-image: url('../immagini/cultural.jpg'); }  
.box-cultural-hover { background-image: url('../immagini/cultural-h.jpg'); }  
.box-dream { background-image: url('../immagini/dreamcheck.jpg'); }  
.box-dream-hover { background-image: url('../immagini/dreamcheck-h.jpg'); }  
.box-steady { background-image: url('../immagini/shoot.jpg'); }  
.box-steady-hover { background-image: url('../immagini/shoot-h.jpg'); }  
.box-globaltest { background-image: url('../immagini/orientation.jpg'); }  
.box-globaltest-hover { background-image: url('../immagini/orientation-h.jpg'); }  
.box-skill { background-image: url('../immagini/skill.jpg'); }  
.box-skill-hover { background-image: url('../immagini/skills-h.jpg'); }  
.box-globaltool { background-image: url('../immagini/global.jpg'); }  
.box-globaltool-hover { background-image: url('../immagini/global-h.jpg'); }  
#logoaiesec { width: 280px;
    margin-top: 30px; }  
/* FAQ */
.faq-container { 
	position: relative;
	background-color: #d8e6ee;
	padding: 15px;
	border-radius: 0.25em;
	margin-bottom: 15px; }  
.faq-domanda-container { 
	margin-right: 50px;
	cursor: pointer; }  
.faq-domanda-container h3 { 
	padding-top: 6px;
	margin: 0;
	font-family: 'Varela Round', sans-serif; }  
.faq-risposta-expander { 
	position: absolute;
	top: 10px;
    right: 10px;
	padding: 5px;
	cursor: pointer; }  
.faq-risposta-container { 
	margin-top: 15px;
	overflow: hidden;
	display: none; }  
.faq-risposta-container.expanded { height: auto; }  



/* ----- */
.consultant-cls p{color:#FFF;padding:5px 10px}
.clear-fix{clear:both}
.warning{color:red}
.wrapper{padding:25px 0;overflow:hidden}
.clear-fix{clear:both}
.warning{color:red}
.sidebar-menu li.active span {
    color: #ffffff;
}
.container .ask-Question ul{list-style:none;height:100%;width:100%;margin:0;padding:0}
h2.Question_heading{float:left;width:100%;color:#2087c8}
.ask-Question ul li{color:#AAA;display:inline-block;position:relative;width:auto;height:auto;min-height:50px}
.ask-Question ul li input[type=radio]{position:absolute;visibility:visible;top:24px;left:10px;opacity:0}
.ask-Question ul li label{display:block;position:relative;font-weight:400;font-size:20px;padding:10px 25px 10px 55px;margin:10px auto;height:auto;z-index:9;color:#55B241;cursor:pointer;-webkit-transition:all .25s linear}
.ask-Question ul li:hover label{color:#2087c8}
.ask-Question ul li .check{display:block;position:absolute;border:3px solid #55B241;border-radius:100%;height:25px;width:25px;top:16px;left:15px;z-index:5;transition:border .25s linear;-webkit-transition:border .25s linear}
.ask-Question ul li:hover .check{border:3px solid #4ea8df}
.ask-Question ul li .check::before{display:block;position:absolute;content:'';border-radius:100%;transition:background .25s linear;-webkit-transition:background .25s linear;height:13px;left:0;margin:0 auto;right:0;top:3px;width:13px}
.ask-Question ul li input[type=radio]:checked ~ .check{border:3px solid #2087c8}
.ask-Question ul li input[type=radio]:checked ~ .check::before{background:#69ba7a;}
.ask-Question ul li input[type=radio]:checked ~ label{color:#2087c8}
.ask-Question button.next:after{content:'';background:url(../images/next-arrow.png) no-repeat;position:absolute;width:22px;height:15px;top:16px;left:111px;opacity:0;background-size:68%;background-position:center;transition:all .5s}
.ask-Question button.next:hover:after{content:'';background:url(../images/next-arrow.png) no-repeat;position:absolute;width:22px;height:15px;top:18px;left:150px;opacity:1;background-size:68%;background-position:center;transition:all .5s}
.back { text-align: right; color:#2087c8; font-size: 110%;}
.download-cls{font-size:14px}
a.tooltips{position:relative;display:inline}
a.tooltips span{position:absolute;width:300px;color:#FFF;background:#000;height:40px;line-height:40px;text-align:center;visibility:hidden;border-radius:6px}
a.tooltips span:after{content:'';position:absolute;top:100%; margin-left:0px;left: 20px;width:0;height:0;border-top:8px solid #000;border-right:8px solid transparent;border-left:8px solid transparent}
a:hover.tooltips span{
	visibility: visible;
    opacity: .8;
    bottom: 30px;
    left: -15px;
    z-index: 999;
}

.social_icon a.first-cls span{background-color:transparent;font-size:17px;margin-right:4px;width:auto}
.online-test-banner .txt-container {max-width: 420px; background-color: #FFFFFFDE; padding: 10px; max-width: 445px;}
.online-test-banner .txt-container .txt {color: #55b241; text-shadow:0px 1px 0 #000;}
.online-test-banner{position:relative}
.online-test-banner p{color:#000;display:block;font-size:16px;text-align:left;}
.online-test-banner h2{font-size:35px;color:#55B241;text-transform:uppercase;text-shadow:1px 1px 0 #000;font-weight:700;letter-spacing:-.3px}
.navbar-inverse .navbar-nav>li>a:before{content:'';position:absolute;width:0;left:0;height:3px;bottom:0;background:#0b639a;right:0;margin:0 auto;-webkit-transition:all .3s;-moz-transition:all .3s;-o-transition:all .3s}
.navbar-inverse .navbar-nav>li>a:hover{border:none!important}
.navbar-inverse .navbar-nav>li>a:hover:before{content:'';position:absolute;width:100%;left:0;height:3px;bottom:0;background:#0b639a}
.global-test-container.content.box h2{display:inline-block;margin-left: 15px;color:#2087c8}
.global-test-container.content.box a.btn.btn-primary.back-dashboard{background:#ffbd33;border:solid 1px #da9c19;-webkit-transition:all .3s;-moz-transition:all .3s;-o-transition:all .3s}
.global-test-container.content.box a.btn.btn-primary.back-dashboard:hover{background:#da9c19}
.global-test-container.content.box a.download-cls.pull-right span.glyphicon.glyphicon-download-alt{float:left;margin-right:12px;margin-top:4px}
.global-test-container.content.box a.download-cls.pull-right{background:#2087c8;padding:12px 20px;color:#fff;border-radius:4px;border-bottom:solid 3px#337e9e;position:relative;transition:all .1s;float:none!important;margin:20px 0;display:inline-block}
.global-test-container.content.box a.download-cls.pull-right:hover{border-bottom:solid 3px #428e09;background-color:#55B241}
.global-test-container.content.box a.download-cls.pull-right:hover span{-webkit-animation:toBottomFromTop .3s forwards;-moz-animation:toBottomFromTop .3s forwards;animation:toBottomFromTop .3s forwards}
@-webkit-keyframes toBottomFromTop {
49%{-webkit-transform:translateY(100%)}
50%{opacity:0;-webkit-transform:translateY(-100%)}
51%{opacity:1}
}
@-moz-keyframes toBottomFromTop {
49%{-moz-transform:translateY(100%)}
50%{opacity:0;-moz-transform:translateY(-100%)}
51%{opacity:1}
}
@keyframes toBottomFromTop {
49%{transform:translateY(100%)}
50%{opacity:0;transform:translateY(-100%)}
51%{opacity:1}
}
.sidebar-menu>li>a{-webkit-transition:all .3s;-moz-transition:all .3s;-o-transition:all .3s}
ul.sidebar-menu li a:hover{padding-left:21px;color:#fff;background:#373e42}
.social_icon a span i{line-height:28px;width:20px}
.navbar-inverse .navbar-collapse .social_icon{position:absolute;right:0;top:2px}
.social_icon a span input[type="text"]{width:0;border:none;position:absolute;right:26px;border-radius:30px 0 0 30px;background:#1e87b3;height:30px;padding-left:0;opacity:0;font-style:italic;font-size:12px;letter-spacing:1px;-webkit-transition:all .5s ease 0;-moz-transition:all .5s ease 0;-o-transition:all .5s ease 0}
.social_icon a span:hover i{color:#fff}
.social_icon a span.open_search input[type="text"]{width:154px;border:none;position:absolute;right:26px;border-radius:30px 0 0 30px;background:#146486;height:30px;padding-left:10px;opacity:1}
.container.register{width:100%;padding:0;background:url(http://bartonwyatt.co.uk/wp-content/uploads/2014/07/register-with-barton-wyatt.jpg);background-size:100% 100%;padding:0 0}
.container.register .wrapper{padding:0}
.overlay{background:rgba(255,255,255,0.6);padding:80px 0}
.container.register .Register{width:100%;max-width:1170px;margin:0 auto;border-radius:3px}
.container.register .Register .row{margin:0}
.container.register .Register h3{margin:0 0 20px;padding:20px 0 15px;text-transform:uppercase;letter-spacing:1px;border-bottom:solid 2px rgba(204,204,204,0.59)}
.container.register .Register .row form .form-group,.container.consultant_register .Register .row form .form-group{width:50%;display:inline-block;float:left;padding:0 5px}
.container.register .row.form-group.has-feedback.submit-btn{padding:0}
.container.register .Register .row form .form-group.email,.container.consultant_register .Register .row form .form-group.email{width:100%}
.container.register .Register .row form .form-group input,.container.consultant_register .Register .row form .form-group input{border-radius:0;height:40px;width:100%}
.container.register .Register .row form .form-group span,.container.consultant_register .Register .row form .form-group span{height:40px;line-height:40px}
.container.register .Register .row form .checkbox input[type="checkbox"],.container.consultant_register .Register .row form .checkbox input[type="checkbox"]{margin:0;left:0;top:2px}
.Register_now button{background-color:#2087c8;border:none;font-size:16px;height:40px;margin:20px auto;width:100%;-webkit-transition:all .5s;-moz-transition:all .5s;-o-transition:all .5s;border-radius:0}
.container.register .Register .row form .form-group.submit-btn,.container.consultant_register .Register .row form .form-group.submit-btn{width:100%;margin:0;text-align:center}
.Register_now button:hover{background-color:#55B241}
.register_welcome_text h3{margin:0 0 20px;padding:20px 0 15px;text-transform:uppercase;letter-spacing:1px;border-bottom:solid 2px rgba(204,204,204,0.59)}
.form-group.has-feedback.membership:after{content:'';height:1px;position:absolute;top:0;width:100%;background-color:rgba(26,26,26,0.18);left:0}
.form-group.has-feedback.membership a{display:block;padding-top:5px;float:left}
.container.register .Register .row form .checkbox label{padding-left:26px}
.user-dash-wrapper > .content{min-height: 380px; padding-left: 0; padding-right: 0; padding-top:0;}
.global-test-container .col-md-6+a{clear:both;float:left}
.online-test-banner h1{color:#367fa9}
.Question_heading span.glyphicon{font-size:22px}
.outcome_image img{max-width:100%}
a.back-dashboard{float:right}
.applynow{background-color:#30a8cc;border:none;font-size:14px;padding:15px 34px;color:#fff;-webkit-transition:all .3s;-moz-transition:all .3s;-ms-transition:all .3s;-o-transition:all .3s;transition:all .3s}
.box-style .service_btn {
	-webkit-transition: all .3s; -moz-transition: all .3s; -ms-transition: all .3s; -o-transition: all .3s; transition: all .3s; height: 48px; width: 269px; border-radius: 10px; background-image: linear-gradient(to right, #6bb97a 31%, #5ab282 38%, #41a98e 52%, #2fa297 66%, #259e9c 82%, #229d9e 100%);
	text-transform: uppercase; font-weight: bolder; font-family: "Open Sans", "sans-serif"; border: none; line-height: 48px; padding: 0; }
.box-style .service_btn:hover{ text-decoration:none; background-image: linear-gradient(270deg, #69ba7a 0%, #055b76 100%); }
.tooltips .glyphicon.glyphicon-question-sign{font-size:18px;position:relative;top:10px;left:4px;color:#666}
.workBoxMain .applynow:hover{background-color:#55B241;text-decoration:none;color:#fff;border-bottom:solid 3px #2d8a19}
.workBoxMain .applynow{float:left;margin-bottom:20px;background:#2087c8;padding:7px 43px;font-size:18px;border-radius:3px;border-bottom:solid 3px #0c5f94}
.Professional_kit{background:#fff none repeat scroll 0 0;box-shadow:0 0 6px 0 #ccc;display:block;float:left;margin-top:20px;padding:20px;width:100%}
.Professional_kit .items{text-align:center;background:#ecf0f5;color:#fff;padding:19px 0;border-radius:3px;margin-bottom:30px;position:relative}
.Professional_kit .items i{right:-24px;position:absolute;top:47%;color:rgba(34,45,50,0.45);font-size:23px}
.Professional_kit .items i.fa.fa-arrow-down.down-icon{left:0;bottom:-27px;top:initial;right:0}
.not_form input[type="text"]{width:200px;border:solid 1px #ccc;height:35px;padding-left:10px;margin-bottom:10px;line-height:34px}
.not_form input[type="button"]{height:35px;background:#2087c8;color:#fff;border:none;padding:0 20px;-webkit-transition:all .3s;-moz-transition:all .3s;-o-transition:all .3s}
.not_form input[type="button"]:hover{background:#55b241}
.Professional_kit .items h2{color:#222d32;margin:20px 0 0;font-size:27px;font-family:'Roboto',sans-serif}
.Professional_kit .items img{width:100px;-webkit-transition:all .3s;-moz-transition:all .3s;-o-transition:all .3s}
.Professional_kit .items:hover img{-webkit-transform:scale(0.9);-moz-transform:scale(0.9);-o-transform:scale(0.9)}
.prew_page{float:right;margin-right:30px}
.prew_page ul{list-style:none;padding:0;margin:0}
.prew_page ul li{display:inline-block}
.prew_page ul li a{padding:5px 12px;color:#fff;background:#2087c8;border-radius:4px;-webkit-transition:all .3s;-moz-transition:all .3s;-o-transition:all .3s}
.prew_page ul li a:hover{background:#55B241}
.container.user_profile_form{width:100%}
.heading h1{margin:0}
.Market_files{background:#fff none repeat scroll 0 0;box-shadow:0 0 6px 0 #ccc;display:block;float:left;margin-top:20px;padding:20px;width:100%}
.Market_files .file_items img{width:100px}
.Professional_kit .items .Hover_content{position:absolute;top:0;width:100%;left:0;padding:15px;height:100%;background:rgba(38,168,223,0.84);opacity:0;-webkit-transform:scale(0);-moz-transform:scale(0);-o-transform:scale(0);-webkit-transition:all .3s;-moz-transition:all .3s;-o-transition:all .3s}
.Professional_kit .items:hover .Hover_content{opacity:1;transform:scale(1)}
.Professional_kit .items .Hover_content p{color:#fff;font-size:16px;line-height:25px}
.content ul.nav.navbar-nav{display:block;width:100%;margin:0 0 25px;border-bottom:solid 1px #ccc;padding-bottom:10px}
.content ul.nav.navbar-nav li a{padding:10px 20px 10px 30px;margin-right:0;color:#7a8390;background:#e5ebf3;position:relative}
.content ul.nav.navbar-nav li.step_done a{color:#609642;background:#dcf5ce;border-radius:4px 0 0 4px}
.content ul.nav.navbar-nav li.active a{color:#ecf0f5;background:#55b241;border-radius:0;position:relative;z-index:9999;margin-left:-5px}
.content ul.nav.navbar-nav li.active:first-child a{margin-left:0}
.content ul.nav.navbar-nav li a:after{content:'';width:0;height:0;border-top:20px solid transparent;border-left:20px solid #ededed;border-bottom:20px solid transparent;z-index:999;position:absolute;right:-20px;top:0}
.content ul.nav.navbar-nav li.step_done a:after{content:'';width:0;height:0;border-top:20px solid transparent;border-left:20px solid #dcf5ce;border-bottom:20px solid transparent;z-index:99998;position:absolute;right:-15px;top:0}
.content ul.nav.navbar-nav li.step_done:first-child a:before{display:none}
.content ul.nav.navbar-nav li.step_done a:before{display:block;content:'';display:block;position:absolute;left:0;width:1px;height:100%;top:0;background:#c5dab9;z-index:999999}
.content ul.nav.navbar-nav li.step_pending a:after{content:'';height:28px;z-index:999;position:absolute;right:-6px;top:-4px;border:none;width:1px;background:#fff;-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-o-transform:rotate(-45deg)}
.content ul.nav.navbar-nav li.step_pending a:before{content:'';height:29px;z-index:999;position:absolute;right:-6px;top:15px;border:none;width:1px;background:#fff;-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-o-transform:rotate(45deg)}
.content ul.nav.navbar-nav li.active a:before{display:none}
.content ul.nav.navbar-nav li.active a:after{content:'';width:0;height:0;border-top:20px solid transparent;border-left:20px solid #55b241;border-bottom:20px solid transparent;z-index:999;position:absolute;right:-20px;top:0;background:none;-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);-o-transform:rotate(0deg)}
.content ul.nav.navbar-nav li.step_pending:last-child a:before,.content ul.nav.navbar-nav li.step_pending:last-child a:after{display:none}
.content ul.nav.navbar-nav li.step_pending:last-child a{border-radius:0 4px 4px 0}
.content ul.nav.navbar-nav li.active:first-child a{border-radius:4px 0 0 4px}
.Market_files .file_items{text-align:center}
.Market_files .file_items h2{color:#222d32;margin:15px 0 0;font-size:18px;font-family:'Roboto',sans-serif}
.Market_files .file_items{text-align:center;background:#ffbd33;padding:10px 0;margin-bottom:30px;min-height:180px;border-radius:4px}
.Market_files .file_items img{width:100px;-webkit-transition:all .3s;-moz-transition:all .3s;-o-transition:all .3s}
.Market_files .file_items:hover img{-webkit-transform:scale(0.9);-moz-transform:scale(0.9);-o-transform:scale(0.9)}
.Market_files p,.Professional_kit p{font-size:15px;line-height:23px;margin-bottom:25px;text-align:justify}
.owl-controls.clickable{display:none!important}
.panel_content p{padding:10px 0 0}
.panel_content ul{padding:0 0 0 18px}
.owl-item .item{background:#e6e6e6;text-align:center;margin:0 5px;padding:20px 0}
.owl-item .item h1{margin:inherit;line-height:29px;font-size:25px;padding-top:10px}
div#pdf-carousel{position:relative;margin-top:20px;float:left;width:100%}
#pdf-carousel .customNavigation{position:absolute;top:43%;left:0;width:100%;padding:0 10px}
#pdf-carousel .customNavigation a{color:#8e8e8e;border:solid 2px #8e8e8e;border-radius:30px;width:30px;line-height:26px;display:block;text-align:center;float:left;cursor:pointer;-webkit-transition:all .3s;-moz-transition:all .3s;-o-transition:all .3s}
#pdf-carousel .customNavigation a:hover{color:#000;border:solid 2px #000}
#pdf-carousel .customNavigation a.next{float:right}
button.accordion{background-color:#2087c8;color:#fff;cursor:pointer;padding:18px;width:100%;border:none;text-align:left;outline:none;font-size:15px;transition:.4s}
button.accordion.active,button.accordion:hover{background-color:#55b241}
button.accordion:after{content:'\02795';font-size:13px;color:#fff;float:right;margin-left:5px}
button.accordion.active:after{content:"\2796"}
div.panel{padding:0 18px;background-color:rgba(221,221,221,0.5);max-height:0;overflow:hidden;transition:.6s ease-in-out;opacity:0;border-radius:0}
div.panel.show{opacity:1;max-height:500px}
.panel_content{padding-bottom:30px}
.panel_content .download_pdf{text-align:right}
.panel_content .download_pdf a{padding:0 20px;margin-bottom:20px;display:inline-block;text-align:center;background:#2087c8;color:#fff;line-height:35px;border-radius:4px;margin-top:20px;-webkit-transition:all .3s;-moz-transition:all .3s;-o-transition:all .3s}
.panel_content .download_pdf a:hover{background:#55b241}
.owl-item .item img{width:100px}
.Colorfull-window{max-width:100%;float:left;margin-left:20px;border-radius:4px;padding:20px 20px;text-align:center;position:relative;border-top:1px solid #ccc;margin-top:20px}
.Colorfull-window p{color:#2087c8;font-size:20px;font-family:'Volkhov',serif}
a.back-dashboard{float:right;background:#55B241;border:solid 1px #47960b}
.Colorfull-window span.opning_cot{margin-top:-10px;margin-left:-30px;font-size:55px;position:absolute;font-family:'Passion One',cursive}
.Colorfull-window span.end_cot{font-size:55px;position:absolute;font-family:'Passion One',cursive;margin-top:15px;margin-left:10px}
.download_pdf{float:left;width:100%;text-align:center}
.bottom_content p{font-size:18px}
.form-group input[type="text"],.form-group input[type="password"],.form-group select,.form-group input[type="email"],.form-group input[type="file"]{width:95%;float:left;height:36px}
.form-group span.glyphicon{right:6px}
.Gender label{float:left;margin-right:15px;width:100%;margin-bottom:5px;font-size:20px}
.profile_picture img{width:74px;margin-left:-15px;height:60px}
.Gender input[type="radio"]{position:relative;top:2px;margin-right:3px}
.Gender span{margin-right:10px}
.checkbox.check-label input[type="checkbox"]{margin-left:0}
.profile_img img{width:140px;height:140px;border-radius:140px}
.profile_page h3.box-title{padding-left:13px;font-size:28px;margin-bottom:30px}
.edit_profile{margin-bottom:0;padding-left:0;float:right}
.edit_profile a{width:40px;display:inline-block;line-height:40px;text-align:center;background:#2087c8;color:#fff;border-radius:3px;-webkit-transition:all .4s;-moz-transition:all .4s;-o-transition:all .4s}
.edit_profile a:hover{background:#55B241;color:#fff}
.profile_img:after{content:'';position:absolute;right:30px;height:100%;width:1px;background:rgba(0,0,0,0.14)}
ul.profile_details{list-style-type:circle;padding:0;margin:-8px 0 0}
input.Save_profile{background:#2087c8;border:none;padding:8px 30px;color:#fff;-webkit-transition:all .4s;-moz-transition:all .4s;-o-transition:all .4s}
input.Save_profile:hover{background:#55B241;color:#fff}
.container.register .Register .row form .form-group select,.container.consultant_register .Register .row form .form-group select,.container.consultant_register .Register .row form .form-group textarea{width:100%;border-radius:0;width:100%}
.checkbox.check-label{clear:both}
.container{position:relative}
.col-md-12.services_main:nth-child(even){margin-bottom:30px}
.col-md-12.services_main:nth-child(even) .col-lg-6.services_item{float:right;text-align:right}
.col-md-12.services_main:nth-child(even) .col-lg-6.services_item img{display:inline-block}
.col-md-12.services_main{border-bottom:solid 1px #ccc;margin-bottom:30px;float:left;width:100%;padding-bottom:30px}
.col-md-12.free_service{background:rgba(228,228,228,0.54);color:#fff;margin-bottom:50px;padding:30px;position:relative}
.col-md-12.free_service a.applynow{border:solid 3px #2087c8;background:none;color:#2087c8;font-size:20px;padding:7px 30px;margin-top:20px;-webkit-transition:all .4s;-moz-transition:all .4s;-o-transition:all .4s}
.col-md-12.free_service a.applynow:hover{background:#55b241;color:#fff;border:solid 3px #31861f}
.country_form{background:rgba(204,204,204,0.36);border:solid 1px rgba(102,102,102,0.35);padding:15px}
.country_form form select:focus{outline:none}
.country_form form select{display:block;width:300px;height:38px;border:solid 1px #ccc;cursor:pointer;padding-left:5px;margin-bottom:20px}
.country_form form button.Country_submit{padding:0 20px;margin-bottom:0;display:inline-block;text-align:center;background:#2087c8;color:#fff;line-height:35px;border-radius:4px;margin-top:0;-webkit-transition:all .3s;-moz-transition:all .3s;-o-transition:all .3s;border:none}
.country_form form button.Country_submit:hover{background:#55b241}
.country_form p{padding:10px 70px 0 0}
.user_login_form, #reset-psw-page{ min-height: 580px; }
.user_login_form .form-group.has-feedback{float:left; width:100%}
.user_login_form .margin-none{margin:0 auto;float:none;background:rgba(204,204,204,0.23);border:solid 1px rgba(204,204,204,0.6);padding:40px}
.user_login_form .form-group.has-feedback input.form-control{width:100%}
.user_login_form .form-group.has-feedback span.glyphicon{right:0;color:#55b241}
.user_login_form .other-links .forgot-link { display: block; }
.user_login_form .other-links .register-block {display:block; margin-top: 80px; text-align: center;}
.user_login_form .already-registered-block {text-align: center; margin-top: 80px;}


.user_login_form button.btn.btn-primary.btn-block.btn-flat:hover,.login-box-body button.btn.btn-primary.btn-block.btn-flat:hover{
	/*background:#55b241;border:solid 1px #199000*/
	background-image: linear-gradient(270deg, #69ba7a 0%, #055b76 100%);
}
.user_login_form button.btn.btn-primary.btn-block.btn-flat,.login-box-body button.btn.btn-primary.btn-block.btn-flat {
	/*border-radius:0;background:#2087c8;border:solid 1px #0066a7;-webkit-transition:all .4s;-moz-transition:all .4s;-o-transition:all .4s*/
	height: 48px; width: 269px;	border-radius: 10px; background-image: linear-gradient(to right, #6bb97a 31%, #5ab282 38%, #41a98e 52%, #2fa297 66%, #259e9c 82%, #229d9e 100%);
	text-transform: uppercase; font-weight: bolder; font-family: 'Open Sans', 'sans-serif'; border:none; max-width: 100%;}

.btn.btn-success.got-pro {
	margin:25px auto; background-image: linear-gradient(to right, #6bb97a 31%, #5ab282 38%, #41a98e 52%, #2fa297 66%, #259e9c 82%, #229d9e 100%);
	border:none; font-family: 'Open Sans', 'sans-serif'; border-radius: 10px; text-transform:uppercase; font-weight: 700; line-height: 48px;
}
.btn.btn-success.got-pro:hover {
	background-image: linear-gradient(270deg, #69ba7a 0%, #055b76 100%);
}

.login-box-body .form-group.has-feedback{float:left;width:100%}
.login-box-body .form-group.has-feedback input.form-control{width:100%}
.login-box-body span.glyphicon{right:0;right:0;color:#55b241}
ul.profile_details li{width:50%;display:inline-block;float:left;line-height:24px;padding-left:20px;position:relative}
ul.profile_details li:before{content:"\f0a4";font:normal normal normal 14px/1 FontAwesome;position:absolute;left:0;top:7px;font-size:12px;color:#2087c8}
.user_profile_form form.checkout-form span.glyphicon{right:20px}
.YOU_CAN_BE_ANYTHING h2,.NUMBERS h2{font-size:25px;margin:30px 0 20px;position:relative}
.YOU_CAN_BE_ANYTHING h2:after,.NUMBERS h2:after{content:'';position:absolute;width:50px;background:#55b241;left:0;bottom:-7px;height:2px}
.NUMBERS ul{list-style:none;padding:0;margin-bottom:50px}
.NUMBERS ul li{line-height:30px;padding-left:20px;font-size:13px;position:relative}
.NUMBERS ul li:before{content:"\f005";font:normal normal normal 14px/1 FontAwesome;position:absolute;left:0;top:8px;color:#2087c8}
.container{clear:both;width: 100%; max-width: 1800px; /*1170px;*/}
.INTRODUCING-WEXPLORE h2:before{content:'';position:absolute;width:50px;background:#55b241;left:0;bottom:-7px;height:2px;right:0;margin:0 auto}
.INTRODUCING-WEXPLORE h2{font-size:25px;margin:30px 0 20px;position:relative}
.INTRODUCING-WEXPLORE h4{font-weight:lighter;text-transform:uppercase;font-size:16px;margin-bottom:40px}
.WEXPLORE_items{float:left;width:100%;margin-top:30px}
.WEXPLORE_items .Items_Wex{min-height:300px;padding-top:13px}
.WEXPLORE_items .Items_Wex .wex-img{display:block;float:left;width:100%}
.WEXPLORE_items .Items_Wex .Wex_content{display:block;clear:both;width:100%;margin-top:20px;float:left;margin-bottom:50px;padding:0 20px}
.WEXPLORE_items .Items_Wex .Wex_content a{font-size:19px;min-height:60px;color:#55b241;display:block;font-weight:700}
.WEXPLORE_items .Items_Wex .Wex_content a:hover{text-decoration:none}
.WEXPLORE_items .Items_Wex .Wex_content p{font-size:15px}
.WEXPLORE_items .Items_Wex:hover .wex-img img{-webkit-transition:all .5s;-moz-transition:all .5s;-o-transition:all .5s;-webkit-transform:rotateY(360deg);-moz-transform:rotateY(360deg);-o-transform:rotateY(360deg)}
.workBoxMain.Home .workBox{min-height:420px}
.workBoxMain.Home .workBox .workBoxText{padding-top:20px}
.heading_sec.KEY-BENEFITS:after{display:none}
.KEY-BENEFITS h2{font-size:25px;margin:30px 0 20px;position:relative}
.KEY-BENEFITS h2:before{content:'';position:absolute;width:50px;background:#55b241;left:0;bottom:-7px;height:2px}
.KEY-BENEFITS ul{padding:0;list-style:none}
.KEY-BENEFITS ul li{position:relative;padding-left:20px;line-height:35px;border-bottom:dashed 1px #ccc;letter-spacing:1px}
.KEY-BENEFITS ul li:before{font:normal normal normal 14px/1 FontAwesome;content:"\f101";position:absolute;left:0;top:10px;color:#2087c8}
.experience{background:#55b241;padding:67px 30px 30px;margin-top:29px;position:relative;border-radius:4px}
.experience p{color:#fff;font-size:20px;letter-spacing:1px;text-align:center;margin-top:40px}
.experience p span{position:absolute;top:0;left:0;right:0;padding:0;font-size:71px;width:100%;color:#fff;font-weight:700}
.acc-container{width:100%;margin:30px auto 0;overflow:hidden}
.acc-btn h1{margin:0;padding:10px 30px;color:#fff;font-size:21px;text-transform:uppercase;background:#2087c8;position:relative;border-bottom:1px solid #0868a5}
.acc-btn{width:100%;margin:0 auto;padding:0;cursor:pointer}
.acc-content{height:0;width:100%;margin:0 auto;overflow:hidden;background:#ededed}
.acc-content-inner{padding:20px;float:left;width:100%;text-align:left}
.open{height:auto}
.acc-btn h1.selected{background:#55b241;border-bottom:1px solid #31901d;color:#fff}
.download_pdf a{float:right;margin:20px 4px;padding:10px 20px;background:#2087c8;color:#fff;border-radius:3px;-webkit-transition:all .5s;-moz-transition:all .5s;-o-transition:all .5s}
.download_pdf a:hover{background:#55b241;color:#fff}
.acc-btn h1.selected:after{content:"\f068";position:absolute;font:normal normal normal 14px/1 FontAwesome;right:20px;top:13px}
.acc-btn h1:after{content:"\f067";position:absolute;font:normal normal normal 14px/1 FontAwesome;right:20px;top:13px}
.tab-content input[type="radio"]{margin:11px 4px 0 9px;position:relative;top:2px}
.login_and_register_div{display:inline-block;float:left;width:100%;margin:20px auto;padding-right:0;position:relative;text-align:right;text-transform:uppercase;}
.login_and_register_div p{float:left;width:100%;text-align:left;text-transform:none}
.login_and_register_div > a{background-color:#2087c8;color:#fff;margin:0 10px;padding:5px 10px;text-decoration:none;-webkit-transition:all .5s;-moz-transition:all .5s;-o-transition:all .5s}
.login_and_register_div > a:hover{background-color:#55b241}
#paypal_credit_card_form .form-group input[type="text"],#paypal_credit_card_form .form-group input[type="password"],#paypal_credit_card_form .form-group select,#paypal_credit_card_form .form-group input[type="email"],#paypal_credit_card_form .form-group input[type="file"]{border:1px solid #d4d3d3;color:#666;background:none;box-shadow:inset 2px 2px 4px #dedbdb;-webkit-transition:all .5s;-moz-transition:all .5s;-o-transition:all .5s}
#paypal_credit_card_form .form-group input:focus{border:1px solid #55b241;box-shadow:none}
.container.service_payment{background:#efefef;border:solid 1px #ddd}
.container.consultant_register .Register .full-cls{width:100%!important}
.container.consultant_register .Register .full-cls textarea{width:95%}
#calendar{max-width:900px;margin:0 auto}
div#mainVideo{width:50%!important;text-align:center;margin:0;height:300px!important;padding-bottom:10px;margin-bottom:10px;float:left;margin-top:20px}
div#mainVideoThumbs{width:100%;margin:0 auto;float:left;text-align:center}
.thumbs_ul{display:block;width:100%;float:left;padding:0;text-align:center}
.thumbs_ul > li{display:inline-block;position:relative;float:left;margin:15px 9px 0;width:18%;max-width:210px}
span.paymentOption_div{display:inline-block}
.thumbs_ul > li .overy_buttons{position:absolute;top:0;height:100%;background:rgba(0,0,0,.7);-webkit-transition:all .5s;-moz-transition:all .5s;-o-transition:all .5s;left:0;width:100%;opacity:0;color:#fff;z-index:9;padding-top:20%}
.thumbs_ul > li:hover .overy_buttons{opacity:1;left:0;top:0}
.thumbs_ul > li .overy_buttons a{display:block;background:#55b241;border-radius:2px!important;width:75%;margin:10px auto;padding:6px 0;color:#fff;text-decoration:none;outline:none;-webkit-transition:all .5s;-moz-transition:all .5s;-o-transition:all .5s}
.thumbs_ul > li .overy_buttons a:hover{background:#2087c8}
form.Videos-Listing input[type="submit"]{background:#2087c8}
.Videos-Listing{float:left;width:100%;margin-left:0;margin-top:20px;margin-bottom:30px;padding-right:0;background:#eaeaea}
.Videos-Listing input[type="submit"]{width:100px;background:#55b241;border:none;color:#fff;padding:8px;text-transform:uppercase;border-radius:3px}
.Videos-Listing form input,.Videos-Listing form select{width:100%!important;display:block}
.Videos-Listing form{display:block;float:left;width:100%;padding:40px 30px 30px 0}
.My_Videos div#mainVideoThumbs{width:50%;margin-top:20px;text-align:left;padding:0 0 0 30px}
.My_Videos div#mainVideoThumbs .thumbs_ul > li{float:left;margin:0;width:24%;padding:0 -11px 15px}
.My_Videos div#mainVideoThumbs .thumbs_ul > li a img{width:100%}
.thumbs_ul > li span.play_button{position:absolute;width:100%;left:0;top:0;color:#fff;font-size:40px;height:100%;background:rgba(0,0,0,.5);padding-top:30%}
.thumbs_ul > li a img{width:100%}
.thumbs_ul + div#prefer_code .modal-content{border-radius:0}
.thumbs_ul + div#prefer_code .modal-content button.close{position:absolute;right:0;top:0;margin:0;width:30px;height:30px;background:#000;color:#fff;opacity:1;border:none}
.thumbs_ul + div#prefer_code .modal-content button.close i{font-size:14px;position:relative;top:-4px}
button.btn.btn-primary.go_submit{background:#55b241;border:none;width:100px;border-radius:0;-webkit-transition:all .5s;-moz-transition:all .5s;-o-transition:all .5s}
button.btn.btn-primary.go_submit:hover{background:#2087c8}
.card-type i{float:none!important;font-style:normal}
.Credit_Card .form-group.card-type span input[type="radio"]{margin:0;position:absolute;top:0;height:100%;width:100%;z-index:9;opacity:0}
.Credit_Card .form-group.card-type span{margin:0;width:auto;position:relative}
.Credit_Card .form-group.card-type span i{padding-left:18px}
.card-type input[type=radio] + i{background:none;padding-left:0;position:relative}
.card-type input[type=radio]:checked + i{color:#55b241}
.card-type input[type=radio] + i:before{content:"\f192";position:absolute;left:0;font:normal normal normal 14px/1 FontAwesome;top:2px}
.card-type input[type=radio]:checked + i:before{content:"\f046";position:absolute;left:0;font:normal normal normal 14px/1 FontAwesome;top:2px;color:#55b241}
.service_payment .heading{padding:10px 20px;position:relative;display:block;width:100%;background:#2087c8;border-radius:0 0 0 0}
.service_payment .heading h1{margin:0;display:block;font-size:23px;color:#fff}
.service_payment .heading:after{display:none}
.tab-vert .tab-content{background:#fff;width:100%!important}
.service_payment .service_details{background:#fff;padding:0;border:solid 1px #ddd;width:100%;position:relative}
.service_payment .service_details h3{color:#fff;margin:0 0 10px;padding:10px 20px;border-bottom:solid 1px #42a52d;background:#55b241;font-size:21px}
.service_payment .service_details p{color:#8e8e8e;font-size:14px;line-height:20px;margin:0 15px;display:block}
.service_payment .service_details ul li p{margin:0;padding:0}
.service_payment .service_details ul{margin:20px 0 0;padding:0;list-style:none}
.service_payment .service_details ul li{margin-bottom:10px;padding-bottom:7px;border-bottom:dashed 1px #b5b5b5;margin-right:30px;margin-left:15px}
.service_payment .service_details .price{font-size:25px;text-align:right;padding-right:20px;color:#efefef;background:#55b241;font-weight:700;border-radius:3px;margin:23px 15px 30px}
h2.Pay-with-PayPal{line-height:40px;border-bottom:solid 2px #55b241;margin-bottom:25px!important;color:#2087c8;position:relative}
h2.Pay-with-PayPal:after{content:"\f107";font:normal normal normal 14px/1 FontAwesome;position:absolute;bottom:-5px;font-size:25px;color:#55b241;left:28px;background:#fff;width:13px;height:13px}
.tab-content .Credit_Card .form-group label{float:left;width:100%;max-width:100%;line-height:36px}
.container.service_payment .container{width:100%}
.right_service_details{background:#fff;padding:15px;border:solid 1px #ddd;margin-bottom: 0;float: left;width: 100%;min-height: 447px;}
.section_heading i{position:absolute;margin:0 auto;left:0;right:0}
.section_heading i.fa.fa-shopping-cart{color:#55b241;font-size:27px;top:3px;left:-6px}
.section_heading i.fa.fa-check{color:#fff;font-size:11px;top:9px;left:3px}
.section_heading{position:relative;padding-left:0;text-transform:uppercase;color:#55b241;font-weight:600;letter-spacing:2px;line-height:45px;font-family:'Oswald',sans-serif}
.section_heading:after{content:'';height:2px;background:#55b241;position:absolute;width:100%;left:0;bottom:0}
ul.service_order{padding:0;list-style:none;margin-top:20px;margin-bottom:20px}
ul.service_order li{line-height:35px;border-bottom:dashed 1px #ccc}
ul.service_order li span:last-child{float:right}
.ui-dialog .ui-dialog-titlebar-close:after {content: "\f00d";font: normal normal normal 13px/1 FontAwesome;top: 1px;position: absolute;left: 0;right: 0;width: 100%;height: 100%;}
.servic_Payment_method span.paymentOption_div{display:block;line-height:30px;position:relative;padding-left:30px}
.servic_Payment_method{margin:20px 0}
.servic_Payment_method span.paymentOption_div input[type="radio"]{position:absolute;width:23px;height:23px;opacity:0;left:0;z-index:9;cursor:pointer}
.servic_Payment_method span.paymentOption_div input[type="radio"] + i{position:absolute;width:15px;height:15px;left:0;margin-top:4px;border:solid 2px #666;border-radius:30px;-webkit-transition:all .3s;-moz-transition:all .3s;-o-transition:all .3s;top:4px}
.servic_Payment_method span.paymentOption_div input[type="radio"]:checked + i{border:solid 2px #55b241}
.servic_Payment_method span.paymentOption_div input[type="radio"] + i:before{content:'';position:absolute;width:7px;height:7px;left:2px;top:2px;background:#55b241;border-radius:10px;-webkit-transform:scale(0);-moz-transform:scale(0);-o-transform:scale(0);-webkit-transition:all .3s;-moz-transition:all .3s;-o-transition:all .3s}
.servic_Payment_method span.paymentOption_div input[type="radio"]:checked + i:before{-webkit-transform:scale(1);-moz-transform:scale(1);-o-transform:scale(1)}
.ligle_terms.servic_Payment_method span.paymentOption_div{line-height:20px;margin-bottom:16px}
.ligle_terms.servic_Payment_method span.paymentOption_div input[type="radio"] + i{margin:0;top:3px}


.right_service_details button.order_now{
	width:269px;background-image: linear-gradient(to right, #6bb97a 31%, #5ab282 38%, #41a98e 52%, #2fa297 66%, #259e9c 82%, #229d9e 100%);border:none;color:#fff;padding:7px 0;text-transform:uppercase;font-size:16px;letter-spacing:1px;border-radius:10px;
	margin-bottom:20px; float:right;margin-top:7px;-webkit-transition:all .3s;-moz-transition:all .3s;-o-transition:all .3s; line-height: 48px; font-family: 'Open Sans', 'sans-serif'; font-weight: bold;
}
.right_service_details button.order_now:hover{background-image: linear-gradient(270deg, #69ba7a 0%, #055b76 100%);}



.ligle_terms.servic_Payment_method span.paymentOption_div b{font-weight:400;font-size:13px;letter-spacing:.3px}
.section_heading:before{content:'';background:url(../images/down-arrow.jpg) no-repeat;width:18px;height:10px;position:absolute;bottom:-8px;z-index:1;left:15px}
.thumbs_ul > li .overy_buttons a + i{font-weight:700;font-style:normal;font-size:19px;color:#fff}
div#promo_div{float:left;width:100%;margin-top:20px;background:#e2e2e2;padding:20px 0;border:solid 1px #ddd;border-radius:5px}
button#have_promo{background:#2087c8;border-radius:0;border:none;padding:5px 12px;text-transform:uppercase;float:right;margin-top:-6px}
select#service_id{margin-top:30px;width:100%;border-radius:0}
input#code{border-radius:0}
.right_service_details .header h3{background:#2087c8;margin:0 0 13px;color:#fff;text-align:center;padding:10px 0;font-size:15px;text-transform:uppercase;letter-spacing:1px}
.right_service_details .header h3 a{ color: #fff !important;}
.right_service_details div#calendar{padding:0 15px 15px}
.right_service_details div#calendar .fc-toolbar h2{font-size:16px;line-height:34px;text-transform:uppercase;letter-spacing:.5px}
.no-booking {align-items: center;display: flex;justify-content: center;}
.dream_check_lab .tab-content{padding-top: 0px !important;padding: 0px 20px 20px;}
.dream_check_lab #final_form h3 {
    background: #55b241;
    color: #fff;
    line-height: 40px;
    font-size: 23px;
    padding-left: 0;
    clear: both;
    border-radius: 0;
    float: left;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 0px #42982f,
    1px 1px 0px #42982f,
    2px 2px 0px #42982f,
    3px 3px 0px #42982f,
    4px 4px 0px #42982f,
    5px 5px 0px #42982f,
    6px 6px 0px #42982f,
    8px 8px 0px #42982f,
    9px 9px 0px #42982f,
    10px 10px 0px #42982f,
    12px 12px 0px #42982f,
    13px 13px 0px #42982f,
    14px 14px 0px #42982f,
    15px 15px 0px #42982f,
    16px 16px 0px #42982f,
    17px 17px 0px #42982f,
    18px 18px 0px #42982f,
    19px 19px 0px #42982f,
    20px 20px 0px #42982f,
    21px 21px 0px #42982f,
    22px 22px 0px #42982f,
    23px 23px 0px #42982f,
    24px 24px 0px #42982f,
    25px 25px 0px #42982f,
    26px 26px 0px #42982f,
    27px 27px 0px #42982f,
    28px 28px 0px #42982f,
    29px 29px 0px #42982f;
    overflow: hidden;
    letter-spacing: 1px;
}
.fc-toolbar button{background: #fff;}
form#final_form {background: #fff;margin-left: -20px;margin-right: -20px;padding: 0px 20px 20px;margin-bottom: -20px;margin-top: 30px;border-top: solid 1px #c3c6c9;box-shadow: 0px -8px 16px 0px rgba(0,0,0, .1);}
#final_form .form-group.Submit_final_form {display: inline-block;margin-bottom: 0;margin-top: 20px;position: relative;top: 2px;}
#final_form .form-group.Submit_final_form + input#back_3 {float: left;margin-top: 21px;margin-right: 15px;padding: 8px 20px;background: #55b241;border: solid 1px #3b9827;}
.Profile-Data-form .form-group {width: 100%;display: table;}
.Profile-Data-form .form-group input[type="text"], .Profile-Data-form .form-group select, .Profile-Data-form .form-group input[type="file"]{width: 100%;}
a#view_profile, .edit_profile {float: right;cursor: pointer;position: absolute;z-index: 99;width: 30px;height: 30px;text-align: center;background: #2087c8;right: 20px;top: 20px;line-height: 28px;color: #fff;border-radius: 3px;}
.Profile_details:nth-last-child(1) div#edit_login_data {width: 70%;}
.occupation-help-wrap { position: absolute; width: 290px; right: -360px; z-index: 999; margin-top: -35px;}
.occupation-help-wrap .profile-help-desc {line-height: 25px;background: #222d32;padding: 10px;color: #fff;border-radius: 3px;}
.occupation-help-wrap .profile-help-desc::after {
    border-color: transparent #222d32;
    border-style: solid;
    border-width: 11px;
    content: "";
    height: 0;
    position: absolute;
    right: 290px;
    top: 11px;
    width: 0;
    border-left: 0px;
}


ul.video_listing{    margin-left: -15px;
    margin-right: -15px;}
a.tooltips {
    top: -17px;
    display: none;
}
.date div.selectBox{
	width: 100%;
    background: #ffffff !important;
    height: 36px;
    z-index: 999;
    line-height: 35px;
    border-radius: 0 !important;
    border: solid 1px #ddd;
}
.date div.selectBox span.selected {
    width: 100%;
    background: none;
    border: none;
    height: 35px;
    line-height: 36px;

}
.date div.selectBox span.selectArrow {
    position: absolute;
    right: 0;
    background: none;
    color: #000;
    height: 34px;
    border: none;
}
.date div.selectBox span.selectArrow + ul.selectOptions{top: 34px;width: 100%;overflow: visible;}
.user_profile_form .form-group input[type="text"],
.user_profile_form .form-group input[type="password"],
.user_profile_form .form-group select,
.user_profile_form .form-group input[type="email"],
.user_profile_form .form-group input[type="file"]{
	    width: 100%;
}

.container.prof_kit_profile {
    min-height: 970px;
}

.date.industry .selectBox {
    z-index: 9999 !important;
}

.popup-right .occupation-help-wrap {
    left: 350px;
}

.popup-left .occupation-help-wrap {
    right: 350px;
}

.btn-back { line-height: 1; }

#Footer { border-top:1px solid #07a153; }
.footer_logo { margin-right: 30px; }
.footer_social {
    margin: auto 10px;
}


/* RESPONSIVE */
@media (min-width: 1180px) {
    .popup-right .occupation-help-wrap {
        left: 450px;
    }

    .popup-left .occupation-help-wrap {
        right: 450px;
    }
}

@media (min-width: 1440px) {
    .popup-right .occupation-help-wrap {
        left: 500px;
    }

    .popup-left .occupation-help-wrap {
        right: 500px;
    }
}

.popup-left .occupation-help-wrap .profile-help-desc::after {
    right: 0px;
    left: 290px;
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.Occupation {
    height: 36px;
}
.video_view_left {
    width: 65%;
    float: left;
    padding-right: 20px;
}
.video_view_right {
    width: 35%;
    float: right;
    padding-left: 20px;
    margin-top: 19px;
}
.video_view_left div#mainVideo {
    width: 100% !important;
    height: 400px !important;
    margin-bottom: 0;
}
.video_other_details .tag {
    width: 33%;
    display: inline-block;
    float: left;
    text-align: center;
    padding: 12px 0px;
    color: #000;
}
.video_other_details .duration {
    width: 34%;
    display: inline-block;
    float: left;
    text-align: center;
    padding: 12px 0px;
    color: #000;
}
.video_other_details .category {
    width: 33%;
    display: inline-block;
    float: left;
    text-align: center;
    padding: 12px 0px;
    color: #000;
}
.video_other_details .tag span,
.video_other_details .duration span,
.video_other_details .category span{
	display: block;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 100;
    color: #868686;
}
.video_other_details .description {
    float: left;
    width: 100%;
    border-top: solid 1px #ddd;
    margin-top: 20px;
    padding: 20px 0;
}
.video_other_details .description p {
    line-height: 25px;
    text-align: justify;
    font-size: 15px;
}
.Video_details {
    border: solid 2px #ddd;
    border-radius: 5px;
    padding: 20px;
}
.Video_details .title {
    font-size: 34px;
    line-height: 40px;
    color: #4d4d4d;
    font-family: sofia-pro-condensed,"Sofia Pro Condensed",sans-serif;
    margin-bottom: 20px;
}
.Video_details .price {
    text-align: left;
    font-size: 32px;
    color: #55b241;
    padding-right: 5px;
    display: inline-block;
    padding-bottom: 20px;
}
.Video_details .buy a {
    background-color: #2087c8;
    color: #FFF;
    font-weight: 700;
    font-size: 16px;
    padding: 13px 28px;
    display: block;
    text-align: center;
    border-radius: 60px;
    text-decoration: none;
}
.Video_details .buy a:hover {
    background: rgba(32, 135, 200, .3);
    color: #2087c8;
    border: solid 2px #2087c8;
}
.Toggle_menu_burger {
    width: 30px;
    height: 30px;
    display:none;
    position: absolute;
	top: 0;
    right: -30px;
    background: #30861d;
    border-radius: 4px;
    cursor: pointer;
    border: solid 1px #21710f;
}
.Toggle_menu_burger span.span_1 {
    margin-top: 7px;
}
.Toggle_menu_burger span {
    background: #fff;
    display: block;
    height: 2px;
    width: 15px;
    margin: 3px auto;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
}
.top_info{position: relative;}
body.open_class {
    -webkit-transform: translate(0px, 0);
    -ms-transform: translate(0px, 0);
    -o-transform: translate(0px, 0);
    transform: translate(0px, 0);
}
.open_class aside.main-sidebar.main-side-cls {
    -webkit-transform: translate(0px, 0);
    -ms-transform: translate(0px, 0);
    -o-transform: translate(0px, 0);
    transform: translate(0px, 0);
        z-index: 999999999;
}
.workBoxMain.row {
    margin-top: 50px;
}
.partner_items img {
    border-radius: 100px;
    float: left;
    margin-right: 30px;
    -webkit-transition: all .1s;
    -moz-transition: all .1s;
    -o-transition: all .1s;
}
.partner_items .workBoxText {
    background: #eee;
    float: left;
    width: 100%;
    margin-bottom: 30px;
    padding: 15px;
    border: solid 1px #ddd;
    border-radius: 5px;
}
.partner_items .workBoxText .partner_details {
    width: auto;
    padding-top: 10px;
}
.partner_items .workBoxText .partner_details h3 a {
    color: #2087c8;
    padding-bottom: 7px;
    display: inline-block;
    text-decoration: none;
}
.partner_items .workBoxText .partner_details h3 a:hover{
	color: #55b241;
}
.partner_items .workBoxText:hover img{
	     -webkit-transform: scale(1.1) rotate(10deg);
	     -moz-transform: scale(1.1) rotate(10deg);
	     -o-transform: scale(1.1) rotate(10deg);
}
.Packages .workBoxText h3 {
    float: left;
    width: 100%;
    margin-bottom: 13px;
    color: #2087c8;
}
.Packages .workBoxText h3 span.pull-right.price {
    color: #55b241;
    font-style: italic;
}
.Packages .workBoxText {
    float: left;
    width: 100%;
    background: #eee;
    padding: 15px;
    margin-bottom: 30px;
    min-height: 200px;
    border: solid 1px #ddd;
    border-radius: 3px;
    position: relative;
}
.Packages .applynow {
    float: right;
    margin-bottom: 0;
    background: #2087c8;
    padding: 7px 43px;
    font-size: 18px;
    border-radius: 3px;
    border-bottom: solid 3px #0c5f94;
    position: absolute;
    right: 15px;
    bottom: 15px;
}

@media (max-width: 1085px){
  .navbar-inverse .navbar-collapse .social_icon{position: static;}
  .My_Videos div#mainVideoThumbs{width: 100% !important;}
}

@media (max-width: 767px){
	.main-sidebar.main-side-cls{position: absolute !important;}
	.has-feedback{float: left; width: 100%;}
	.Toggle_menu_burger{display: block;}
	.tab.tab-vert .tab-legend .active {border-top: solid 1px #ccc !important;border-right: solid 1px #ccc !important;border-left: solid 1px #ccc !important;border-bottom:none !important;color: #2087c8 !important;}
	.tab-vert .tab-legend li{margin-bottom: -1px !important; text-align: center !important; width: 50% !important;}
	.tab-vert .tab-legend, .tab-vert .tab-content{width: 100% !important;}
	span.paymentOption_div {display: block;}
	.Credit_Card .form-group span{width: 100% !important;}
	.Credit_Card .form-group input.CVV[type="text"]{width: 100% !important;}
	.tab-vert .tab-content > li button.Checkout_btn{margin-right: 0px !important;}
	.user-dash-wrapper .content{width: 100%;min-height: initial;}
	.video_view_left, .video_view_right{    padding-left: 0; width: 100%;}
	body.open_class:before {content: '';position: fixed;left: 0;top: 0;height: 100%;width: 100%;background: rgba(0,0,0, .5);z-index: 999999;-webkit-transition: all .5s;-moz-transition: all .5s;-o-transition: all .5s;}
	.Profile_details_main, .Profile_details.other-details-main{display: block;}
	.Profile-Data ul{padding: 0;}
	.Profile-Data ul li{padding-right: 0; margin-right: 0;}
	.Profile_details.other-details-main .other-details.one {margin-right: 0 !important;margin-top: 30px;}
	.Profile_details.other-details-main .other-details.two {margin-left: 0;margin-top: 50px;}
	a#view_profile, .edit_profile{right: 0;top: 0;}
	.Packages .workBoxText{min-height: inherit;}
	.Packages .workBoxText p { float: left; width: 100%;}
	.Packages .applynow{position: static;}
	.content-wrapper.user-dash-wrapper .container {
		margin: auto;
		padding: 0;
		width: 100% !important;
	}

}

@media (max-width: 480px){
	#Top_bar > .container {
		width: 100%!important;
	}
	#Footer .container {
		width: 100% !important;
		text-align: center;
	}
	.user_login_form button {
		margin: 30px auto;
	}
	.user_login_form .other-links a {
		text-align:center;
		margin:30px auto;
	}
}

@media (max-width: 375px){
	.My_Videos div#mainVideoThumbs{padding: 0 !important;}
	.Toggle_menu_burger{right: -30px; top: 30px;}
	.My_Videos div#mainVideoThumbs .thumbs_ul > li{width: 23%;}
	.footer_content form input {width: 100% !important; margin-bottom: 10px;}
	.thumbs_ul > li span.play_button{padding-top: 15%;}
	.thumbs_ul > li .overy_buttons{padding-top: 0;}
}
.select-div {
min-height: 200px;
padding: 90px;
}

.panel {
    width: 80%;
    margin: 2em auto;
}

.bootstrap-basic {
    background: white;
}

.panel-body {
    width: 90%;
    margin: 2em auto;
}

.helper-text {
    color: #8A6D3B;
    font-size: 12px;
    margin-top: 5px;
    height: 12px;
    display: block;
}

/* Braintree Hosted Fields styling classes*/
.braintree-hosted-fields-focused {
    border: 1px solid #0275d8;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}

.braintree-hosted-fields-focused.focused-invalid {
    border: 1px solid #ebcccc;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(100,100,0,.6);
}

.right_service_details .form-group.has-feedback {
     clear: both;
}



@media (max-width: 670px) {
    .form-group {
        width: 100%;
    }

    .btn {
        white-space: normal;
    }
}
