html, body {
    overflow-x: visible;
}
.content-wrapper {
	background-color: #ffffff;
}
img.img-circle.logo-tondo {
	width: 68px;
	height: 68px;
	max-width: 68px;
}
.user-wrapper {
	position: relative;
}
.sidebar-menu > li > a {
    padding: 12px 15px 12px 15px;
}
.sidebar-bottom {
	width: 138px;
	height: 110px;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
	border-radius: 10px 10px 10px 0;
	background-color: #69ba7a;
	margin: auto;
	position: absolute;
	bottom: 200px;
	left: 70px;
	text-transform: none;
	padding: 25px 15px;
	z-index: 2;
}
.start-square {
	color: #ffffff;
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
}
.sidebar-bottom-corner {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: auto;
	z-index: 3;
}

.heading .heading-text-container {
	position: absolute;
	top: calc(50% - 65px);
	left: 50px;
	width: 45%;
}
.heading .heading_title {
	color: #055b76;
	font-family: "Varela Round";
	font-size: 36px;
	font-weight: 400;
	line-height: 46px;
}
.heading .heading_sub-title {
	color: #808080;
	font-size: 18px;
	font-weight: 400;
	line-height: 30px;
	margin-top: 20px;
}
#Top_bar .menu > li > a, #Top_bar .top_bar_right a {
    color: #808080;
	font-size: 14px;
	font-weight: 400;
	line-height: 22px;
	padding-bottom: 0px;
}
#menu .nav > li > a:hover, #menu .nav > li > a:active, #menu .nav > li > a:focus {
    background: transparent;
}
#Header {
	position: absolute;
	top:0;
	left:0;
	right: 20px;
}
#Top_bar.is-sticky {
	background-color: transparent;
	box-shadow: none;
	border:none;
}
.menu.nav .dropdown.submenu .caret {
	color: #69ba7a;
	border-top: 8px dashed;
	border-top: 8px solid\9;
	border-right: 8px solid transparent;
	border-left: 8px solid transparent;
}
.menu.nav .dropdown.submenu .img-circle {
	width: 60px;
	height: auto;
	margin-right: 10px;
}
.row-second {
	border-top:1px solid #c4c4c4;
}
.row-second .container.boxs {
	padding-right: 0;
	padding-left: 50px;
}
.row-second .box-title {
	color: #055b76;
	font-family: "Varela Round";
	font-size: 24px;
	font-weight: 400;
	line-height: 34px;
	margin-top: 50px;
	margin-bottom: 30px;
}
.row-second .box {
	background-image: linear-gradient(180deg, #e6e6e6 0%, #e9e9e9 57%, #f2f2f2 100%);
	border-radius: 20px;
	border:none;
	margin-top: 30px;
	margin-bottom: 30px;
}
.row-second .box.box-body {
	position: relative;
	padding:0;
}
.row-second .box .box-top {
	color: #055b76;
	font-family: "Varela Round";
	font-size: 36px;
	font-weight: 400;
	line-height: 46px;
	text-transform: uppercase;
	margin-top:30px;
	margin-bottom: 10px;
}
.row-second .box .box-middle{
	color: #69ba7a;
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: 700;
	line-height: 20px;
	/* Text style for "Global Ori" */
	text-transform: uppercase;
	margin-bottom: 20px;
}
.row-second .box .box-description{
	color: #808080;
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: 400;
	line-height: 22px;
	margin-bottom: 35px;
}
.row-second .box .box-cta{
	
}
.row-second .box-body > .sx {
	padding-left: 30px;
	padding-right: 30px;
}
a.btn.cta {
	width: 206px;
	height: 40px;
	border-radius: 10px;
	background-image: linear-gradient(to right, #6bb97a 31%, #5ab282 38%, #41a98e 52%, #2fa297 66%, #259e9c 82%, #229d9e 100%);
	color: #ffffff;
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: 700;
	line-height: 25px;
}
.box.got {
	height: 352px;
}
.box.wow {
	height: 470px;
}
.box.wow .box-top {
	margin-top:50px;
}
.box.got-pro {
	height: 300px;
}
.box.vic {
	
}
.box-body .how-it-w {
	margin-left:50px;
}
.modal-open .modal {
	z-index: 999999;
}
.box-body .box-img {
	margin-top: 20px; 
	text-align: right; 
	margin-right: 20px;
	padding-bottom:20px;
}
.video-prev-container {
	margin-top:50px;
}
a.video-prev {
	position: relative;
}
.video-prev-icon {
	position: absolute;
	top: calc(50% - 15px);
	left: calc(50% - 15px);
}
.video-prev-icon i {
	color: #ffffff;
	/*font-family: "Font Awesome 5 Free";*/
	font-size: 24px;
	line-height: 24px;
}
.box-body.wow .video-author {
	color: #055b76;
	font-size: 16px;
	font-weight: 700;
	line-height: 30px;
}
.box-body.wow .video-title {
	color: #69ba7a;
	font-size: 14px;
	font-weight: 700;
	line-height: 20px;
}
.modal-content {
	padding:60px;
}
.modal-title {
	color: #055b76;
	font-family: "Varela Round";
	font-size: 36px;
	font-weight: 400;
	line-height: 46px;
	margin-bottom:25px;
}
.modal-subtitle {
	color: #055b76;
	font-family: "Varela Round";
	font-size: 24px;
	font-weight: 400;
	line-height: 34px;
	margin: 15px auto;
}
.modal-text {
	color: #808080;
	font-size: 14px;
	font-weight: 400;
	line-height: 22px;
	margin:15px auto;
}
.modal-img {
	margin:20px auto;
}
