@import "https://fonts.googleapis.com/css?family=Roboto:500";
@import "https://fonts.googleapis.com/css?family=Oswald:700";
@import "https://fonts.googleapis.com/css?family=Oswald";
@import "https://fonts.googleapis.com/css?family=Oswald:300";
@import "https://fonts.googleapis.com/css?family=Roboto+Condensed";
@import 'https://fonts.googleapis.com/css?family=Pavanam';
body{color:#868686}

input:focus,button:focus{outline:none!important}
.columns-center{float: none; margin: 0 auto; padding: 0;}
.slick-slide:focus{outline:none}
.top_area{width:100%;float:left;background-color:#2087c8;overflow:hidden}
.logo{float:left;text-align:center;position:relative;display:block}

.logo a{text-decoration:none;color:#000}
.logo a h3{font-weight:600;font-size:25px}
.logo img{max-width:100%;width:100%}
/*.menu{width:100%;float:left;background-color:#2087c8}*/
nav.navbar.navbar-inverse.color-change{width:100%;float:left;background-color:#2087c8;border:0;margin-bottom:0;margin-top:22px}
.navbar-inverse .navbar-nav>li>a:hover{border-bottom:4px solid #ffbd33}
.navbar-inverse .navbar-nav>li>a{color:#fff;font-family:'Roboto',sans-serif;font-size:15px}
.navbar{border-radius:0}
.navbar-nav>li>a{padding-top:15px;padding-bottom:5px}
.social_icon{float:left;padding-top:8px;padding-left:5px}
.carousel{position:relative;width:100%}
.carousel img{top:0;left:0;min-width:100%}
.heading_sec::after{content:"";height:3px;position:absolute;text-align:center;background-color:#55B241;width:63px;bottom:43px;left:47%}
.social_icon a{text-decoration:none;color:#fff;transition:all .2s 0 ease-in-out}
.social_icon a span{height:30px;width:30px;background-color:rgba(0,0,0,0.2);float:left;margin-left:10px;text-align:right;border-radius:30px;padding-right:8px;line-height:30px;-webkit-transition:all .5s ease 0;-moz-transition:all .5s ease 0;-o-transition:all .5s ease 0}
.social_icon a span.open_search{width:180px}
.social_icon a.first-cls span.open_search{margin-right:-14px}
.top_info{width:100%;float:left;background-color:#55B241;padding:10px 0}
.link_site a.link{text-decoration:none;color:#fff;font-size:16px;padding-right:19px;transition:all .2s 0 ease-in-out}
.link_site a.link:hover{color:#000}
.link_site{float:right;margin:0 auto;width:372px}
span.time{color:#fff}
.margin_top{margin-top:10px}
.heading{float:left;padding:10px 0 18px 15px;position:relative}
.heading::after{content:" ";height:3px;width:44px;background-color:#55B241;position:absolute;left:15px;bottom:10px}
.heading h2{color:#222;font-family:'Oswald',sans-serif;font-size:40px;padding:19px 0}
.heading p{color:#222;font-family:'Roboto Condensed',sans-serif;font-weight:300;letter-spacing:1px;font-size:15px}
.intro_wexplore{float:left}
.intro_wexplore:hover>.img{opacity:.6;cursor:pointer}
.intro_wexplore .img{float:left;opacity:1;transition:all .2s 0 ease-in-out}
.wexplore_ifo a.wexplore_heading{color:#222;text-decoration:none;font-size:18px;font-family:'Oswald',sans-serif}
.wexplore_ifo a.wexplore_heading:hover{color:#2087c8}
.wexplore_ifo{padding-left:113px;padding-bottom:40px;display:block}
.wexplore_ifo p{font-size:13px;padding-top:15px;letter-spacing:.05em;font-family:'Roboto Condensed',sans-serif;color:#868686}
.margin_top{margin-top:25px}
.slider_area{width:100%;float:left;padding-top:52px}
.with-us{width:100%;float:left;background-color:#222;padding:38px 0;margin-top:0}
h2.with-us-heading{color:#fff;margin:0 0 20px;font-family:'Oswald',sans-serif}
.with-us p{font-size:13px;letter-spacing:.05em;font-family:'Roboto Condensed',sans-serif;color:#fff}
.button_view{margin-top:6%;text-align:center}
a.button{background-color:#1f87c7;text-decoration:none;color:#fff;font-family:sans-serif;transition:all .3s 0 ease-in-out}
a.button:hover{background-color:#2087c8;color:#fff;font-weight:600;}
.heading_sec{width:100%;padding:6% 0;text-align:center;text-transform:uppercase}
.heading_sec span{color:#2087c8}
i.fa.fa-star.resize{font-size:20px}
.heading_sec h2{color:#222;font-family:'Oswald',sans-serif;font-size:40px}
.heading_sec p{font-size:15px;padding-top:15px;letter-spacing:.05em;font-family:'Roboto Condensed',sans-serif;color:#868686;text-transform:uppercase}
.resize{padding:0 5px;padding-bottom:9px}
.resize img{width:100%;height:100%}
.container.sizing{width:100%}
.bac_img{background:url(../images/bg-icon-box-1.jpg);background-position:center;background-repeat:no-repeat;background-size:cover;height:630px}
.bac_img img{width:100%}
.side_img{float:left;margin-top:45.5%}
.benifit_content{background-color:#2087c8;padding:43.5px 22px}
.light_color{background-color:#137bbd}
.benifit_content:hover>.benift_icon{background-color:transparent;box-shadow:inset 0 0 8px #FFF;background-color:transparent!important;transition:all .3s 0 ease-in-out}
.resize-con{padding:0}
.benift_icon{float:left;background:#55B241;color:#fff;width:80px;height:80px;text-align:center;line-height:78px;font-size:33px;border-radius:100%;margin-top:8px}
a.benifit_heading{color:#fff;font-family:'Oswald',sans-serif;text-decoration:none;padding-left:20px;font-size:21px}
.benifit_content p{padding-left:98px;font-size:15px;letter-spacing:.05em;font-family:'Roboto Condensed',sans-serif;color:#fff;padding-top:13px}
.bottom-slide{width:100%;float:left;padding:40px 0}
.footer{width:100%;float:left;background-color:#1a1a1a;padding:10px 0}
.social_icon.bottom{float:right}
.social_icon.bottom span{background-color:rgba(255,188,51,0.29)}
.social_icon.bottom a:hover{color:#fff}
.social_icon.bottom a{float:right}
.social_icon.bottom{float:right;width:100%;border-bottom:1px solid rgba(255,255,255,0.09);padding-bottom:20px}
.footer_content{width:100%;float:left}
h3.footer_about{color:#fff;padding:30px 0;font-family:'Oswald',sans-serif;font-size:18px;position:relative}
h3.footer_about::after{content:" ";height:3px;width:35px;background-color:#2087c8;position:absolute;left:0;bottom:10px}
.footer_content p{letter-spacing:.05em;font-family:'Roboto Condensed',sans-serif;color:#8f8f8f}
.adress{float:left;width:100%}
.adress li{display:inline-flex;list-style:none;width:100%;position:relative;padding-left:25px}
.adress{float:left;width:100%;padding:0;color:#8f8f8f}
.adress li span{padding-right:0;position:absolute;width:25px;left:0}
.footer_content .col-lg-12.col-md-12.col-sm-12.col-xs-12{padding:0}
.footer_content form{padding:10px 0;width:100%;float:left}
.footer_content input[type="text"]{padding:6px 12px;background-color:transparent;border:1px solid rgba(255,255,255,0.21);margin-right:48px;width:31%;font-size:15px;font-family:'Roboto Condensed',sans-serif;color:#fff}
.footer_content input[type="email"]{padding:6px 12px;background-color:transparent;border:1px solid rgba(255,255,255,0.21);margin-right:48px;width:31%;font-size:15px;font-family:'Roboto Condensed',sans-serif;color:#fff}
a.button.form{padding:8px 15px}
ul.footer_img{width:100%;padding:0;margin:0;list-style:none;float:left}
ul.footer_img li{float:left;padding:4px;opacity:1;transition:all .1s 0 ease-in-out}
.navbar-inverse .navbar-collapse{border:none}
.footer_content.about{padding:0 20px}
ul.footer_img li:hover{opacity:.6}
.copyright{width:100%;float:left;border-top:1px solid rgba(255,255,255,0.09);margin-top:21px}
.copyright p{float:right;padding-top:18px;font-family:'Roboto Condensed',sans-serif;color:#8f8f8f}
.workBoxText .fa{color:#55B241;margin-right:5px}
.workBox .price{color:#55B241}
.workBoxText h3{margin-bottom:0;margin-top:0}
.workBoxText p{text-align:justify;margin-bottom:20px}
.workBoxText .readMore{margin-top:30px}
.workBoxText .readMore a{background-color:#2087c8;font-size:14px;padding:15px 34px;color:#fff;-webkit-transition:all .3s;-moz-transition:all .3s;-ms-transition:all .3s;-o-transition:all .3s;transition:all .3s}
.workBoxText .readMore a:hover{background-color:#55B241;text-decoration:none}
.testomonialMain{padding:100px 10px}
.testimonialInner p{font-weight:600;color:#fff;font-size:18px;text-align:center;margin:0;padding:0 50px}
.testimonialInner h3{text-align:center;color:#2087c8;margin:0 0 30px}
.latestNews{margin-bottom:80px}
.latestNews a{color:#222;-webkit-transition:all .3s;-moz-transition:all .3s;-ms-transition:all .3s;-o-transition:all .3s;transition:all .3s}
.latestNews .workBox{background:#fff}
.latestNews a:hover{color:#9261aa;text-decoration:none;cursor:pointer}
.latestNews h3{line-height:32px;word-spacing:2px;text-transform:uppercase;font-size:20px;margin-bottom:20px}
ul.social-profile a:hover{background-color:#55B241;color:#fff}
ul.s-md.s-rounded i{line-height:36px}
ul.s-md.s-rounded a{width:36px;height:36px}
.s-md ul{background-color:transparent;list-style:none;padding-left:0;padding-top:0;border:none}
ul.s-md i{font-size:16px}
ul.s-rounded li{display:inline-block;vertical-align:middle;margin-right:10px;padding:0}
ul.s-dark-gray-1 a{background-color:#444}
ul.s-rounded a{display:block;text-align:center;-webkit-border-radius:100%;-moz-border-radius:100%;border-radius:100%;-webkit-transition:all .2s;-moz-transition:all .2s;-ms-transition:all .2s;-o-transition:all .2s;transition:all .2s}
ul.social-profile{list-style-type:none;padding:0;margin:0;color:#fff}
.social_icon{text-align:right}
.testomonialMain .slick-prev:before{font-family:FontAwesome;font-size:22px;line-height:1;opacity:.75;color:#fff}
.testomonialMain .slick-next:before{font-family:FontAwesome;font-size:22px;line-height:1;opacity:.75;color:#fff}
.testomonialMain .slick-prev:before{content:"\f053";padding:50px 10px}
.testomonialMain .slick-next:before{content:"\f054";padding:50px 10px}
@media screen and (max-width:786px) {
.social_icon a.first-cls span.open_search{margin-right:0}
.link_site,.link_site a{font-size:12px!important;text-align:right!important;float:none!important}
.nav>li{border-bottom:#0d7faf 2px solid!important}
.navbar-inverse .navbar-nav>li>a{font-size:20px!important;text-align:center!important}
.navbar-inverse .navbar-nav>li>a:hover{border-bottom:none!important}
}
.check-label label{font-weight:700}
.redirect-cls{text-align:center;width:100%}
.redirect-cls img{text-align:center;vertical-align:middle;width:30%}
.main-sidebar.main-side-cls{position:relative!important;float:left;background-color:#222d32}
.main-sidebar.main-side-cls .sidebar a{color:#b8c7ce;-webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;}
    .treeview-menu-open ul.treeview-menu {
    display: block;
    padding-left: 20px;
}
li.treeview.treeview-menu-open i.fa.fa-angle-left.pull-right {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
}
.main-header.user-header-cls{max-height:unset!important;background-color:#3c8dbc;clear:both}
.main-header.user-header-cls .logo{background-color:#367fa9;color:#fff}
.user-wrapper{background-color:#222d32}
.user-header-cls .nav > li > a{color:#fff}
.user-header-cls .nav > li > a > img{height:auto;max-width:45px}
.box-style .service_btn{background:#55B241 none repeat scroll 0 0;bottom:25px;color:#fff;display:inline-block;font-size:17px;left:0;margin:0 auto;padding:7px 20px;position:absolute;right:0;width:150px;text-transform:uppercase;font-weight:600}
.box-style .tile-title{text-align:center;text-transform:uppercase}
.box-style{background:#fff none repeat scroll 0 0;min-height:315px;padding:20px 0;overflow:hidden;position:relative;margin-bottom:15px}
.box-style .tile-title > h3{font-size:20px}
.box-style .tile-title > h5{color:#30a8cc;font-size:18px}
.box-style img{display:block;margin:0 auto;width:100px}
.box-style .imgblock{display:block;min-height:115px}
.box-style:hover .hover_column{top:0;transition:top .8s ease}
.hover_column{position:absolute;top:-235px;width:100%;background-color:rgba(32,135,200,0.58);transition:top .8s ease;padding:15px;z-index:999;color:#fff;height:235px}
.hover_column p{color:#f9f9f9}
.button_view a.button{background:#2087c8}
.button_view a.button:hover{color:#fff;background:#55B241}
.footer_content form a.button.form{background:#2087c8}
.footer_content form a.button.form:hover{background:#55B241;color:#fff}
.container.contact form .form-group{float:left;width:100%}
.container.contact form .form-group label{float:left;width:100%}
.container.contact form button.btn.btn-primary{background:#2087c8;border:none;padding:6px 54px;font-size:17px;-webkit-transition:all .4s;-moz-transition:all .4s;-o-transition:all .4s}
.container.contact form .form-group input,.container.contact form .form-group textarea{width:100%;border-radius:0}
.container.contact form button.btn.btn-primary:hover{background:#55B241}
.container.contact form .form-group input[type="radio"]{width:auto}


/*********** 8 Aug ************/
.dream_check_lab h3 {background: #222d32; color: #fff; line-height: 40px; font-size: 19px;padding-left: 15px; clear: both;border-radius: 4px 4px 0px 0px;float: left;width: 100%;}
.dream_check_lab .form-group textarea{width:100%;height:100px;border:solid 1px #c3c6c9;outline:none;padding-left:10px}
.dream_check_lab .form-group select{width:100%;border:solid 1px #c3c6c9;outline:none;padding-left:10px;margin-bottom:15px}
.dream_check_lab .form-group input[type="submit"]{background:#2087c8;border:none;color:#fff;padding:8px 20px;border-radius:3px;-webkit-transition:all .4s;-moz-transition:all .4s;-o-transition:all .4s}
.dream_check_lab .form-group input[type="submit"]:hover{background:#55b241}
.dream_check_lab p{clear:both}
.dream_check_lab h4 {display: inline-block;padding-right: 30px;line-height: 26px;width: 100%;font-weight: 600;color: #222D32;padding-left: 15px;}
form.checkout-form{margin-left:-15px;margin-right:-15px;display:block;float:left;width:100%}
.tooltips .glyphicon.glyphicon-question-sign{top:10px!important}
form.checkout-form .has-feedback:nth-last-child(1){width:100%;margin-top:20px;text-align:right}
.profile_picture .col-lg-10{padding-right:0}
.profile_picture .col-lg-10 input.form-control{width:100%!important}
.margin_none{margin:0 auto;float:none}
.Register .main_form{background:#fff;padding:0 20px 30px;box-shadow:0 0 8px #b1b1b1;border-radius:4px}
.user_profile_form .item_list .item:nth-child(even){float:right}
.user_profile_form .item_list .item{width:47%;float:left;text-align:center;margin:20px 0;padding:30px 0;background:#fff;display:inline-block;box-shadow:0 0 4px #ccc}
.main-sidebar.main-side-cls .user-panel .pull-left.image img{width:45px;height:45px}
.user_profile_form .item_list{float:left;width:100%}
a.btn.btn-primary.pull-right.Back-to-Dashboard{background:#2087c8;border:none;-webkit-transition:all .4s;-moz-transition:all .4s;-o-transition:all .4s}
a.btn.btn-primary.pull-right.Back-to-Dashboard:hover{background:#55b241}
a.btn.btn-primary{background:#2087c8;border:none;-webkit-transition:all .4s;-moz-transition:all .4s;-o-transition:all .4s}
a.btn.btn-primary:hover{background:#55b241}
.user_profile_form .item h4{margin-top:30px}
.user_profile_form .panel-body{padding:20px 0}
.col-md-12 .alert-success{background-color:#55b241!important}
.main-sidebar.main-side-cls .user-panel .pull-left.image img{width:45px;height:45px}
.form-group.col-md-6.has-feedback.profile_picture {margin-bottom: 6px;}
.culture_match form {background: #e8e8e8;border: solid 1px #ccc;padding: 20px;}
.culture_match form button.Country_submit{color: #fff;padding: 6px 30px;margin-top: 10px;background:#2087c8;border:none;-webkit-transition:all .4s;-moz-transition:all .4s;-o-transition:all .4s}
.culture_match form button.Country_submit:hover{background:#55b241}

/************* Blog page css **************/
.blog_list { float: left; width: 100%;}
.blog_list .blog_img {float: left;width: 50%;position: relative;}
.blog_list .blog_img img {width: 100%;height: 300px;}
.blog_list .blog_content {float: right;width: 50%;padding-left: 30px;}
.blog_list .blog_content h2 {
    margin: 25px 0 0 0;
    line-height: 17px;
    position: relative;
    -webkit-transition:all .3s;
    -moz-transition:all .3s;
    -o-transition:all .3s;
}
.blog_list .blog_content h2:after{content: ''; width: 0%;-webkit-transition:all .3s;
    -moz-transition:all .3s;
    -o-transition:all .3s;}
.blog_list:hover .blog_content h2:after{
	content: '';
	position: absolute;
	left: 0; bottom: -9px; width: 100%; height: 3px; background: #55B241;
}
.blog_list .blog_content h2 a{
    font-size: 17px;
    font-family: 'Roboto',sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    margin: 10px 0 0 0;
    color: #444;
    -webkit-transition:all .3s;
    -moz-transition:all .3s;
    -o-transition:all .3s;
    text-decoration: none;
}
.blog_list .blog_content h2 a:hover{
	color: #2087c8;
}
.blog_list .blog_content p {
    font-size: 15px;
    margin: 15px 0 20px 0;
    line-height: 25px;
}
.date_and_comment span a {
    color: #bbb;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 13px;
    font-weight: 600;
}
.date_and_comment span.Shares a {
    color: #55b241;
}
.blog-main .blog_list:nth-child(even) .blog_img {
    float: right;
}
.blog-main .blog_list:nth-child(even) .blog_content {
    padding-left: 0;
    padding-right: 30px;
}
.blog_list:hover .blog_img:before {
    content: '';
    left: 0px;
}
.blog_list:hover .blog_img:after {
    content: '';
    right: -20px;
}
.blog_list .blog_img:before {
    content: '';
    width: 20px;
    height: 100%;
    position: absolute;
    background: #fff;
    left: -20px;
    -webkit-transition:all .3s;
    -moz-transition:all .3s;
    -o-transition:all .3s;
}
.blog_list .blog_img:after {
    content: '';
    width: 20px;
    height: 100%;
    position: absolute;
    background: #fff;
    right: 0px;
    -webkit-transition:all .3s;
    -moz-transition:all .3s;
    -o-transition:all .3s;
}

.POPULAR-POSTS h3 {
    margin: 0 0 10px 0;
    padding-bottom: 10px;
    position: relative;
}
.POPULAR-POSTS h3:after {
    content: '';
    position: absolute;
    left: 0;
    height: 3px;
    width: 50px;
    background: #55b241;
    bottom: 4px;
}
.POPULAR-POSTS .post_list {
    height: 150px;
    overflow: hidden;
    position: relative;
    margin-top: 20px;
}
.POPULAR-POSTS .post_list img {
    width: 100%;
    -webkit-transition:all .3s;
    -moz-transition:all .3s;
    -o-transition:all .3s;
}
.POPULAR-POSTS {
    padding-left: 60px;
}
.POPULAR-POSTS .post_list:hover img {
	-webkit-transform: scale(1.2) rotate(10deg);
	-moz-transform: scale(1.2) rotate(10deg);
	-o-transform: scale(1.2) rotate(10deg);
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);}

.POPULAR-POSTS .post_list {
    height: 150px;
    overflow: hidden;
    position: relative;
}
.POPULAR-POSTS .popular_post_content {
    position: absolute;
    top: 30%;
    background: rgba(0,0,0, .7);
    width: 80%;
    color: #fff;
    height: 60px;
}
.POPULAR-POSTS .popular_post_content:after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4px;
    left: 0;
    background: #2087c8;
     -webkit-transition:all .3s;
    -moz-transition:all .3s;
    -o-transition:all .3s;
}
.POPULAR-POSTS .popular_post_content:before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 0;
    height: 4px;
    left: 0;
    background: #55b241;
    z-index: 3;
     -webkit-transition:all .3s;
    -moz-transition:all .3s;
    -o-transition:all .3s;
}
.POPULAR-POSTS .post_list:hover .popular_post_content:before{
	content: '';
	 width: 100%;
}

.POPULAR-POSTS .popular_post_content span {
    position: absolute;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    top: 14px;
    background: #55b241;
    left: 10px;
}
.POPULAR-POSTS .post_list h4 {
    padding-left: 55px;
    color: #fff;
    margin: 0;
    padding-top: 20px;
}
.Blog-page {
    margin: 30px 0;
}
.Blog_details {
    background: #f7f7f7;
    padding: 15px;
    float: left;
    width: 100%;
    margin-top: 50px;
}
.Blog_details img {
    width: 100%;
    margin-bottom: 30px;
    margin-top: 15px;
}
.Blog_details h2 {
    margin: 20px 0 5px 0;
    font-size: 25px;
    font-family: 'Roboto',sans-serif;
    color: #3a3a3a;
}
.Blog_details p {
    font-size: 16px;
    letter-spacing: 0.4px;
    color: #676767;
    font-family: 'Pavanam', sans-serif;
}
.POPULAR-POSTS.Recent-Posts {
    margin-top: 43px;
}
.Profile-Data {
    float: right;
    width:100%;
    padding: 10px;
}

.Profile_details {
    background: #fff;
    display: flex;
    padding: 20px 20px;
    border-radius: 3px;
    position: relative;
    margin-bottom: 35px;
    border: solid 1px #ccc;
}
.profile_page h3.box-title{padding: 0 !important;}
.Profile_details img {
    border-radius: 5px;
    margin-top: 20px;
}
.Profile-Data ul {
    padding: 0 0 0px 30px;
    list-style: none;
    margin: 0;
}
.Profile-Data ul li {
    line-height: 25px;
    padding-right: 20%;
}
.Profile-Data ul li span.Fill_detais {
    float: right;
    font-weight: normal;
    width: 250px;
}
div#edit_personal_data {
    width: 80%;
}
div#edit_login_data {
    width: 80%;
}
div#edit_login_data .form-group.col-md-6.has-feedback, div#edit_personal_data .form-group.col-md-6.has-feedback{
    padding: 0;
}
.Profile-Data ul li span {
    font-weight: bold;
    font-size: 15px;
}
.Profile-Data a.edit_profile {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: #55b241;
    color: #fff;
    border-radius: 3px;
    -webkit-transition:all .3s;
    -moz-transition:all .3s;
    -o-transition:all .3s;
}
.Profile-Data a.edit_profile:hover{
    background: #2087c8;
}
.Profile-Data ul li {
    line-height: 32px;
    margin-right: 10%;
    border-bottom: dashed 1px #a7a7a7;
    padding-right: 2%;
    float: left;
    width: 100%;
}
.Profile_details h3.Profile_Data_heading {
    position: absolute;
    left: 20px;
    top: -15px;
    margin: 0;
    font-size: 16px;
    color: #ffffff;
    background: #2087c8;
    padding: 4px 10px;
    border-radius: 4px 4px 4px 4px;
    box-shadow: -2px -2px 6px 0px rgba(0,0,0, .2);
}
.Profile_details_main {
    display: flex;
    width: 100%;
}
.other-details .Profile-Data ul {
    padding: 0;
}
.other-details .Profile-Data {
    padding: 10px 0;
}
.Profile_details.other-details-main {
    background: none;
    padding: 0;
    border: none;
}
.Profile_details.other-details-main .other-details {
    background: #fff;
    padding: 15px;
    border: solid 1px #ccc;
    border-radius: 3px;
}
.Profile_details.other-details-main .other-details.two {
    margin-left: 7px;
}
.Profile_details.other-details-main .other-details.one {
    margin-right: 7px;
}
.other-details h3.Profile_Data_heading {
    left: 12px;
}
.other-details .Profile-Data ul li {
    margin-right: 12%;
}


/******** Responsive css **********/

@media only screen and (max-width: 1024px) {
.social_icon{float:none}
.logo::before{left:-20px}
.social_icon{padding-top:8px}
.social_icon a span{margin-left:4px}
.logo::after{border-bottom:87px solid rgba(0,0,0,0)}
.benifit_content{padding:36.2px 22px}
}
@media only screen and (max-width: 773px) {
.logo::before{left:-20px}
.navbar-inverse .navbar-nav>li>a{font-size:11px}
.social_icon{float:right;padding-bottom:10px}
.side_img{margin-top:40px}
.benift_icon{width:60px;height:60px;line-height:60px}
.benifit_content{padding:13px 10px}
.benifit_content p{font-size:12px}
.benift_icon{margin-top:32px}
a.benifit_heading{padding-left:24px}
.benift_icon{margin-left:13px}
}
@media only screen and (max-width: 768px) {
.side_img{margin-top:12%}
.logo::before{left:-20px}
.navbar-inverse .navbar-nav>li>a{font-size:11px}
.social_icon{float:right;padding-bottom:10px}
.benifit_content{padding:12.5px 10px}
}
@media only screen and (max-width: 736px) {
.side_img{margin-top:12%}
.logo::before{left:-20px}
.navbar-inverse .navbar-nav>li>a{font-size:11px}
.social_icon{float:right;padding-bottom:10px}
.benifit_content{padding:12.5px 10px}
}
@media only screen and (max-width: 667px) {
.benift_icon{margin-top:10px}
}
@media only screen and (max-width: 568px) {
.heading_sec::after{bottom:40px;left:43%}
.footer_content input[type="text"]{margin-right:30px}
.footer_content input[type="email"]{margin-right:30px}
ul.footer_img li{padding:5px 4px}
}
@media only screen and (max-width: 435px) {
.benift_icon{margin-top:23px}
.footer_content input[type="text"]{margin-right:14px}
.footer_content input[type="email"]{margin-right:14px}
a.button.form{font-size:12px}
}
@media only screen and (max-width: 414px) {
.heading_sec::after{bottom:26px;left:40%}
.footer_content input[type="text"]{margin-right:12px}
}


@media (max-width: 700px){
  .Profile-Data ul li span.Fill_detais{width: auto;}
  div#view_profile_data {margin-top: 40px;}
}
@media (max-width: 500px){
  .Profile-Data ul li span.Fill_detais{width: auto;}
  div#view_profile_data {margin-top: 40px;}
  .Profile_details_main{display: block;}
  .Profile-Data ul{padding: 0;}
  div#edit_profile_data {width: 100%;float: left;}
  .Profile-Data ul li span{font-size: 12px;}
}