@mixin flex-wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

@mixin define-flex-per-row($row_items) {
	-webkit-box-flex: 1;
	-ms-flex: 0 0 $row_items;
	flex: 0 0 $row_items;
}

@mixin flex-verticalize {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

@mixin flex-end {
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}

@mixin full-transition {
	-webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

@mixin define-basic-transition($effet_affected, $effect_duration) {
	-webkit-transition: $effet_affected $effect_duration ease;
	-moz-transition: $effet_affected $effect_duration ease;
	-o-transition: $effet_affected $effect_duration ease;
	-ms-transition: $effet_affected $effect_duration ease;
	transition: $effet_affected $effect_duration ease;
}



@mixin box-gradient-1 {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#343893+0,575bbb+100 */
background: #343893; /* Old browsers */
background: -moz-linear-gradient(left, #343893 0%, #575bbb 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #343893 0%,#575bbb 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #343893 0%,#575bbb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#343893', endColorstr='#575bbb',GradientType=1 ); /* IE6-9 */
}

@mixin box-black-alpha {
	background-color: rgba(0, 0, 0, 0.8);
}
