@import 'vars';
@import 'mixin';
$header-height: 60px;
$logo-width: 190px;

// header

#header {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  @include define-basic-transition(all, 0.3s);
  a:link,
  a:visited {
    color: $color-8;
  }
  a:hover {
    color: $color-8;
  }
}

#header-structure, #footer-structure {
  position: relative;
  width: 100%;
  @include flex-wrap;
  @include flex-verticalize;
  .logo {
    width: $logo-width;
    img {
      width: 100%;
      max-width: $logo-width;
      height: auto;
    }
  }
  .hamburger {
    width: calc(100% - #{$logo-width});
    text-align: right;
  }
}

.not-scrolled-header {
padding: 40px 0;
.header-bg {
  opacity: 0;
}
}

.scrolled-header {
  padding: 20px 0;
  .header-bg {
    opacity: 1;
  }
}

.header-bg {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  @include define-basic-transition(all, 0.6s);
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#003452+15,00829a+32,00a04c+100 */
background: #003452; /* Old browsers */
background: -moz-linear-gradient(left, #003452 15%, #00829a 32%, #00a04c 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #003452 15%,#00829a 32%,#00a04c 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #003452 15%,#00829a 32%,#00a04c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003452', endColorstr='#00a04c',GradientType=1 ); /* IE6-9 */
}

// wrappers and more

.wrapper {
  position:relative;
  width: 100%;
	margin: 0 auto;
}

.wrapper-padded {
  position:relative;
  width: calc(100% - 70px);
  margin: 0 auto;
  padding: 0 35px;
}

.wrapper-padded-more {
  position:relative;
  width: 100%;
	max-width: 1035px;
	margin: 0 auto;
}

.wrapper-padded-more-shrink {
  position:relative;
  width: 100%;
	max-width: 600px;
	margin: 0 auto;
}

.block-spacing {
  position: relative;
  z-index: 12;
  padding: 16vh 0;
}

.image-icon {
  display: inline-block;
  width: 125px;
  margin-bottom: 45px;
}

// fullscreen boxes

.box-fullscreen {
	position: fixed;
  top: 0;
  left: 0;
	display: block;
	width: 100%;
  height: 100vh;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 0;
}

.fullscreen-cta {
	position: relative;
  z-index: 8;
	width: 100%;
	height: 100vh;
  @include flex-wrap;
}

.fullscreen-cta-center {
  @include flex-verticalize;
}

.box-fullscreen-fair {
	position: relative;
  z-index: 10;
	width: 100%;
  height: 100vh;
}

.baloon-1 {
  position: absolute;
  right: -20px;
  bottom: 180px;
  z-index: 4;
  width: 450px;
}

.baloon-2 {
  position: absolute;
  right: 50px;
  bottom: 0;
  z-index: 2;
  width: 252px;
  height: 252px;
  -webkit-border-radius: 252px;
-moz-border-radius: 252px;
border-radius: 252px;
}

.baloon-3 {
  position: absolute;
  right: 230px;
  bottom: -60px;
  z-index: 4;
  width: 114px;
}

.baloon-4 {
  position: absolute;
  right: -100px;
  bottom: -376px;
  z-index: 4;
  width: 376px;
  img {
    transform: rotate(-45deg);
  }
}

.baloon-5 {
  position: absolute;
  right: -50px;
  bottom: -100px;
  z-index: 2;
  width: 216px;
  height: 216px;
  -webkit-border-radius: 216px;
-moz-border-radius: 216px;
border-radius: 216px;
}

.baloon-7 {
  position: absolute;
  left: -100px;
  bottom: -276px;
  z-index: 4;
  width: 276px;
  img {
    transform: rotate(45deg);
  }
}

.baloon-8 {
  position: absolute;
  left: -80px;
  bottom: -450px;
  z-index: 2;
  width: 166px;
  height: 166px;
  -webkit-border-radius: 166px;
-moz-border-radius: 166px;
border-radius: 166px;
}

.baloon-9 {
  position: absolute;
  right: -100px;
  bottom: -574px;
  z-index: 4;
  width: 574px;
  img {
    transform: rotate(-45deg);
  }
}


.madscroll-slow {
	transition: 600ms cubic-bezier(0.235, 0.615, 0.185, 0.995);
}

.madscroll-fast {
	transition: 300ms cubic-bezier(0.235, 0.615, 0.185, 0.995);
}

.timeline-structure {
  text-align: left;
  border-left: #32C7E0 solid 4px;
  padding: 80px 0 40px 0;
}

.timeline-block {
  position: relative;
  padding-left: 40px;
  margin-bottom: 60px;
  &:last-child {
    margin-bottom: 0;
  }
  h3 {
    margin-bottom: 5px;
  }
  &:before {
    content: "";
    position: absolute;
    left: -22px;
    top: 0;
    z-index: 2;
    width: 42px;
    height: 42px;
    background-color: #32C7E0;
    -webkit-border-radius: 42px;
  -moz-border-radius: 42px;
  border-radius: 42px;
  }
}

// flex boxes

.flex-hold {
	position: relative;
	width: 100%;
	//height: 100%;
  @include flex-wrap;
}

.flex-hold-3 {
  .flex-hold-child {
    @include define-flex-per-row(31.3333333333333%);
    margin-right: 3%;
    margin-bottom: 30px;
  }

  .flex-hold-child:nth-child(3n) {
    margin-right: 0;
  }
}

// forms
.form-hold {
	position: relative;
	display: block;
	width: 100%;
  font-weight: $font-weight-1;
  font-size: $h6-size-desktop;
  line-height: $h6-lineheight-desktop;
	input[type=text],
	input[type=email],
	input[type=number],
	input[type=tel] {
		position: relative;
		background-color: $color-8;
		border: none;
		width: calc(100% - 20px);
		margin: 10px 0;
		padding: 35px 10px 20px 10px;
    font-family: $font-main;
    font-weight: $font-weight-1;
    font-size: $h6-size-desktop;
    line-height: $h6-lineheight-desktop;
		color: $color-1;
	}
	textarea {
    position: relative;
		background-color: $color-8;
		border: none;
		width: calc(100% - 20px);
		height: 100px;
		margin: 10px 0 30px 0;
		padding: 35px 10px 20px 10px;
    font-family: $font-main;
    font-weight: $font-weight-1;
    font-size: $h6-size-desktop;
    line-height: $h6-lineheight-desktop;
		color: $color-1;
		resize: none;
	}
	input[type=submit] {
		position: relative;
		display: inline-block;
		width: auto;
		margin: 40px 0 0 0;
    padding: 30px 90px;
    font-family:  $font-main;
    font-weight: $font-weight-1;
    font-size: $h4-size-desktop;
		color: $color-1;
		background-color: transparent;
		text-align: left;
		border: $color-2 solid 3px;
		cursor: pointer;
		-webkit-transition: .3s ease-in-out;
	  transition: .3s ease-in-out;
		white-space: normal;
	}
	input[type=submit]:hover {
		color: $color-8;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00829a+0,00a04c+100 */
  	background: rgb(0,130,154); /* Old browsers */
  	background: -moz-linear-gradient(left, rgba(0,130,154,1) 0%, rgba(0,160,76,1) 100%); /* FF3.6-15 */
  	background: -webkit-linear-gradient(left, rgba(0,130,154,1) 0%,rgba(0,160,76,1) 100%); /* Chrome10-25,Safari5.1-6 */
  	background: linear-gradient(to right, rgba(0,130,154,1) 0%,rgba(0,160,76,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00829a', endColorstr='#00a04c',GradientType=1 ); /* IE6-9 */
	}
	input[type=text]:focus,
	input[type=email]:focus,
	input[type=number]:focus,
	textarea:focus,
	input[type=tel]:focus {
		border: $color-2 solid 1px;
	}
	select:active {
		border: $color-2 solid 1px;
	}
}

// footer

#footer {
  position: relative;
  display: block;
  width: 100%;
  overflow: hidden;
  padding-top: 30px;
  padding-bottom: 40px;
  margin: 0;
  a:link,
  a:visited {
    color: $color-2;
  }
  a:hover {
    color: $color-3;
  }
}
