$break-desktop: 1024px;
$break-tablet-end: 1023px;
$break-mobile-start: 1px;
// fonts vars
$font-main: 'Varela Round', sans-serif;
$font-sub: 'Open Sans', sans-serif;
$font-weight-1: 400; //regular
$font-weight-2: 600; //bold
// colors vars
$color-1: #000;
$color-2: #003452;
$color-3: #333333;
$color-4: #C2CCD1;
$color-5: #FFCC00;
$color-6: #e6e6e6;
$color-7: #F2F1F1;
$color-8: #FFFFFF;
$color-9: #585858;
$color-10: #27bada;

//fonts desktop
$h1-size-desktop: 56px;
$h1-lineheight-desktop: 64px;
$h1-marginbottom-desktop: 5vh;

$h2-size-desktop: 38px;
$h2-lineheight-desktop: 46px;
$h2-marginbottom-desktop: 30px;

$h3-size-desktop: 27px;
$h3-lineheight-desktop: 50px;
$h3-marginbottom-desktop: 20px;

$h4-size-desktop: 22px;
$h4-lineheight-desktop: 42px;
$h4-marginbottom-desktop: 30px;

$h5-size-desktop: 21px;
$h5-lineheight-desktop: 28px;
$h5-marginbottom-desktop: 14px;

$h6-size-desktop: 18px;
$h6-lineheight-desktop: 24px;
$h6-marginbottom-desktop: 0;

$paragraph-size-desktop: 16px;
$paragraph-lineheight-desktop: 22px;
$paragraph-marginbottom-desktop: 24px;

//fonts smartphone
$h1-size-smartphone: 46px;
$h1-lineheight-smartphone: 54px;
$h1-marginbottom-smartphone: 5vh;

$h2-size-smartphone: 28px;
$h2-lineheight-smartphone: 36px;
$h2-marginbottom-smartphone: 30px;

$h3-size-smartphone: 20px;
$h3-lineheight-smartphone: 43px;
$h3-marginbottom-smartphone: 20px;

$h4-size-smartphone: 22px;
$h4-lineheight-smartphone: 42px;
$h4-marginbottom-smartphone: 30px;

$h5-size-smartphone: 18px;
$h5-lineheight-smartphone: 24px;
$h5-marginbottom-smartphone: 14px;

$h6-size-smartphone: 18px;
$h6-lineheight-smartphone: 24px;
$h6-marginbottom-smartphone: 0;

$paragraph-size-smartphone: 16px;
$paragraph-lineheight-smartphone: 22px;
$paragraph-marginbottom-smartphone: 24px;
