/*form.operations_form button[type=submit]{border: none;background: none;color: #3c8dbc;}
form.operations_form {display: inline-block;}*/
.columns-center{float: none; margin: 0 auto; padding: 0;}
.delete_modal_btn{border: none;background: none;color: #3c8dbc;}
.delete_modal_btn:hover{background: none !important;color: #3c8dbc}
.add_user.btn{float: right; margin-right: 11px;}
.question_pointer{font-size: 25px;}
.que_delete_msg {padding: 10px;}
.outcome_img_thumb img{max-width: 200px;}
.box-style{
 border: 1px solid #d8e1e5;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    margin-bottom: 30px;
    padding: 0 10px 10px;
    position: relative;}
li.active {
    background-color: black;
}
.top-stripe {
    height: 5px;
    margin-left: -10px;
    position: absolute;
    top: 0;
    width: 100%;
}.bckg-custom-orange {
    background-color: #f4a616 !important;
}
span.service_price {
  font-size: 20px;
  color: #F4A616;
  font-weight: bold;
}
.profile_img img{width:140px;height:140px;border-radius:140px}
.profile_page h3.box-title{padding-left:13px;font-size:28px;margin-bottom:30px}
.edit_profile{margin-bottom:0;padding-left:0;float:right}
.edit_profile a{width:40px;display:inline-block;line-height:40px;text-align:center;background:#2087c8;color:#fff;border-radius:3px;-webkit-transition:all .4s;-moz-transition:all .4s;-o-transition:all .4s}
.edit_profile a:hover{background:#55B241;color:#fff}
.profile_img:after{content:'';position:absolute;right:30px;height:100%;width:1px;background:rgba(0,0,0,0.14)}
ul.profile_details{list-style-type:circle;padding:0;margin:-8px 0 0}
input.Save_profile{background:#2087c8;border:none;padding:8px 30px;color:#fff;-webkit-transition:all .4s;-moz-transition:all .4s;-o-transition:all .4s}
input.Save_profile:hover{background:#55B241;color:#fff}
.Profile_details_main, .Profile_details.other-details-main{display: block;}
.Profile-Data ul{padding: 0;}
.Profile-Data ul li{padding-right: 0; margin-right: 0;}
.Profile_details.other-details-main .other-details.one {margin-right: 0 !important;margin-top: 30px;}
.Profile_details.other-details-main .other-details.two {margin-left: 0;margin-top: 50px;}
a#view_profile,.edit_profile{float:right;cursor:pointer;position:absolute;z-index:9999;width:30px;height:30px;text-align:center;background:#2087c8;right:20px;top:20px;line-height:28px;color:#fff;border-radius:3px}
.Profile_details{background:#fff;display:flex;padding:20px;border-radius:3px;position:relative;margin-bottom:35px;border:solid 1px #ccc}
.profile_page h3.box-title{padding:0!important}
.Profile_details img{border-radius:5px;margin-top:20px;min-width:150px;min-height:150px}
.Profile-Data ul{padding:0 0 0 30px;list-style:none;margin:0}
.Profile-Data ul li{line-height:25px;padding-right:20%}
.Profile-Data ul li span.Fill_detais{float:right;font-weight:400;width: 45%;}
div#edit_personal_data{width:80%}
div#edit_login_data{width:80%}
div#edit_login_data .form-group.col-md-6.has-feedback,div#edit_personal_data .form-group.col-md-6.has-feedback{padding:0}
.Profile-Data ul li span{font-weight:700;font-size:15px}
.Profile-Data a.edit_profile{width:30px;height:30px;line-height:30px;text-align:center;background:#55b241;color:#fff;border-radius:3px;-webkit-transition:all .3s;-moz-transition:all .3s;-o-transition:all .3s}
.Profile-Data a.edit_profile:hover{background:#2087c8}
.Profile-Data ul li{line-height:32px;margin-right:10%;border-bottom:dashed 1px #a7a7a7;padding-right:2%;float:left;width:100%}
.Profile_details h3.Profile_Data_heading{position:absolute;left:20px;top:-15px;margin:0;font-size:16px;color:#fff;background:#2087c8;padding:4px 10px;border-radius:4px 4px 4px 4px;box-shadow:-2px -2px 6px 0 rgba(0,0,0,.2)}
.Profile_details_main{display:flex;width:100%}
.other-details .Profile-Data ul{padding:0}
.other-details .Profile-Data{padding:10px 0}
.Profile_details.other-details-main{background:none;padding:0;border:none}
.Profile_details.other-details-main .other-details{background:#fff;padding:15px;border:solid 1px #ccc;border-radius:3px}
.Profile_details.other-details-main .other-details.two{margin-left:7px}
.Profile_details.other-details-main .other-details.one{margin-right:7px}
.other-details h3.Profile_Data_heading{left:12px}
.other-details .Profile-Data ul li{margin-right:12%}
div#edit_profile_data{width:73%}
form.Profile-Data-form{margin-top:20px}
div#view_login_data{width:100%}
div#view_login_data ul{padding-left:0}
div#view_login_data li{padding:0;margin:0}
.table.table-bordered.table-striped.dataTable {margin-top: 15px;}

@media (max-width: 990px){
  .table.table-bordered.table-striped.dataTable {width: 100%;overflow: auto;display: block;}
}

@media (max-width: 700px){
  .Profile-Data ul li span.Fill_detais{width: auto;}
  div#view_profile_data {margin-top: 40px;}
}
@media (max-width: 500px){
  .Profile-Data ul li span.Fill_detais{width: auto;}
  div#view_profile_data {margin-top: 40px;}
  .Profile_details_main{display: block;}
  .Profile-Data ul{padding: 0;}
  div#edit_profile_data {width: 100%;float: left;}
  .Profile-Data ul li span{font-size: 12px;}
}
